 // out: ./index.css, compress: true, sourceMap: true

//  `````````通用变量
// 主题颜色
@theme-color-warm:#fdbc37;
@theme-color-drak:#333;


// 字体颜色
@font-color-lightest:#fff;
@font-color-lighter:#fffcf6;
@font-color-light:#d1d1d1;

@font-color-gray:#6a6a6a;
@font-color-grayer:#666666;
@font-color-drak:#333;


// `````````通用类
.padding-lr{
    padding-left: 20%;
    padding-right: 20%;
}


// `````````````页面样式
// 重置bootstrap的样式，使长度为100%
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
//````````` 1 最上面的一条线
.top-line{
    height:3px;
    background: @theme-color-warm;
}
//````````` 2 上方信息
//````````` 3 导航
//````````` 4 轮播
//````````` 5 公司服务
//````````` 6 公司简介
//````````` 7 公司产品
//````````` 8 最新产品
//````````` 9 产品视频
//````````` 10 赞助商
//````````` 1 底部信息