@charset "UTF-8";
/*·----1. 字体大小定义--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
@media screen and (max-width: 321px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) and (max-width: 641px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 641px) {
  body {
    font-size: 16px;
  }
}

p {
  font-size: 1em;
}

h5 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2.5em;
}

/*·----公共变量定义--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·----公共类定义--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
body {
  color: #787878;
}

a.btn-img {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 1.5rem;
  font-size: 1em;
  border-radius: 20px;
  transition: 1s all;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1px solid #9ed527;
}

a.btn-img > img {
  margin-right: 1rem;
  width: 2.25rem;
}

a.btn {
  transition: 1s all;
  background: #fff;
  color: #787878;
  padding: 0.375rem 2rem;
  font-size: 1.2em;
  border-radius: 20px;
}

.h-title {
  text-align: center;
  margin-bottom: 1.875rem;
}

.h-title h3:first-child {
  color: #9ed527;
}

/*·----公共组件  header footer--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············0 导航*/
.header {
  height: 3.625rem;
  background: #fff;
  box-sizing: border-box;
  padding: 0 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > img:first-child {
  width: .75rem;
  height: auto;
  margin-right: 1.375rem;
}

.header > img:last-child {
  width: 1.5rem;
  height: auto;
  margin-left: 1.125rem;
}

.logo-papa {
  width: 22.875rem;
  height: 2.125rem;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-papa img {
  width: 5rem;
}

/*············. footer 页脚*/
.footer {
  height: 10.125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 0.875rem;
  padding-left: 0;
  padding-right: 0;
  background: #131313;
}

.footer > header img {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 1.25rem;
}

.footer > footer {
  transform: scale(0.8);
}
