body {
  background: #fbfbfb;
}

body > section {
  background: white;
}

header {
  height: 13.9375rem;
  background: linear-gradient(to bottom, #ffbe04, #fb483e);
}

header > nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-fa {
  position: relative;
}

.search-fa + img {
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
}

.nav-search {
  width: 19.9375rem;
  height: 1.75rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .9375rem;
  color: white;
  font-size: 14px;
  border: 0;
  box-sizing: border-box;
  padding-left: 2.875rem;
}

::-webkit-input-placeholder {
  color: white;
}

.nav-search + img {
  position: absolute;
  left: .875rem;
  top: .25rem;
  width: 1.5625rem;
  height: 1.25rem;
}

.nav-search:focus {
  outline: 0;
}

.banner {
  width: 22.5rem;
  height: 10.25rem;
  overflow: hidden;
}

.banner > ul {
  height: 100%;
}

.banner > ul > li {
  height: 100%;
}

.banner > ul > li img {
  max-width: 100%;
}

.menu {
  height: 10.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: .8125rem;
}

.match {
  height: 5.125rem;
  margin-bottom: .5rem;
  background-image: url(../imgs/img/2018.png);
  background-size: contain;
  position: relative;
}

.match > button {
  background: #ca040b;
  border-radius: .9375rem;
  color: white;
  box-sizing: border-box;
  width: 6.125rem;
  height: 1.125rem;
  border: 0;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.match > button:focus {
  outline: 0;
}

.notice {
  height: 4.875rem;
  display: flex;
  align-items: center;
}

.notice > img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.0625rem;
  margin-left: .9375rem;
}

.notice-detail {
  border-left: 1px solid #ffc497;
  padding-left: 1.0625rem;
}

.notice-detail > a {
  color: #333;
}

.mall {
  height: 9.375rem;
}

.mall-title {
  margin-top: .625rem;
  margin-bottom: .625rem;
  display: flex;
  justify-content: space-between;
}

.mall-title img {
  width: .625rem;
  height: .875rem;
}

.mall-item {
  display: flex;
  flex-direction: column;
}

.mall-item img {
  width: 7.125rem;
  height: 5rem;
}

.mall-content {
  display: flex;
  justify-content: space-between;
}

.match-video {
  height: 11.25rem;
  margin-bottom: .4375rem;
  padding-bottom: .3125rem;
}

.match-video-content {
  display: flex;
  justify-content: space-between;
}

.match-video-item img {
  width: 10.75rem;
  height: 7.75rem;
}

footer {
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #eee;
}

footer img {
  width: 1.8125rem;
  height: 1.8125rem;
}
