


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*```````````````````一 . 字体与排版 */
// 媒体查询设置字体大小
@media screen and (max-width:321px){
    body{
        font-size: .75rem;
    }
}
@media screen and (min-width:321px) and (max-width:400px){
    body{
        font-size: .8125rem;
    }
}
@media screen and (min-width:400px) and (max-width:641px){
    body{
        font-size: .875rem;
    }
}
@media screen and (min-width:641px){
    body{
        font-size: 1rem;
    }
}
p{
    font-size: 1em;
}
h5{
    font-size: 1.2em;
}
h3{
    font-size: 1.5em;
}
h2{
    font-size: 2.5em;
}

// 设置使用的字体




/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````二、颜色主题定义*/

//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #32afb5; 
$brand-primary-lighter: #28d0c2;
$brand-primary-draker:#25aab2;
$brand-wram:#f55a5f;

$text-lighter:#b6b6b6;

$border-color:#e5e5e5;

$brand-info:#d9d9d9;
$brand-danger:#ff2233;
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f6f6f6 !default;
//** Global text color on `<body>`.
$text-color:            #666666!default;
$text-color-drak:          #333;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````三、公共类mixin定义*/
@mixin flex-h ($h:space-between,$v:center){
    display: flex;
    flex-direction: row;
    justify-content: $h;
    align-items: $v;
}
@mixin flex-v ($h:center,$v:center){
    display: flex;
    flex-direction: column;
    justify-content: $h;
    align-items: $v;
}
@mixin pad-lr($left,$right){
    box-sizing: border-box;
    padding-left: $left;
    padding-right: $right;
}
@mixin pad-tb($t,$b){
    box-sizing: border-box;
    padding-top: $t;
    padding-bottom: $b;
}
@mixin border-box($top:0,$bottom:0,$left:0,$right:0){
    box-sizing: border-box;
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

@mixin bg-img($url,$mode:cover){
    background-image: $url;
    background-size: $mode;
}
@mixin bg-c($url,$width,$height){
    background-image: $url;
    background-size: $width $height;
    background-repeat: no-repeat;
    background-position: center;
}
// 按钮
@mixin btn-color($bg,$font){
    transition: 1s all;
    background:$bg;
    color: $font;
}
@mixin btn-distance($padding-tb,$padding-lr,$font,$raduis){
    padding: $padding-tb $padding-lr;
    font-size: $font;
    border-radius: $raduis;
}
// 绝对定位元素居中
@mixin ab-c(){
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
// 水平居中
@mixin ab-c-h(){
    position: absolute;
    left: 0;right: 0;
    margin-left: auto;
    margin-right: auto;
}
// 垂直居中
@mixin ab-c-v(){
    position: absolute;
    bottom: 0;top: 0;
    margin-top: auto;
    margin-bottom: auto;
}


// 表单input  颜色和尺寸   
// 表单基础
@mixin form-base($theme-color:$brand-primary-lighter){
    display: flex;
    width: 100%;
    transition: 0.5s all;
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color:transparent;
    padding: .875rem 0.1rem;
    font-size: 1.12rem;//17.92px
    @include flex-h;
    height: 3.125rem;//50px
    box-sizing: border-box;
    &:focus{
        outline: 0;
        border-color: $theme-color;
    }
    
}
::placeholder{
    color: #c4cfd4;
    font-size: .875rem;
}

// 覆盖表单的颜色
@mixin form-color(){

}
// 覆盖表单的尺寸 高度由pading填充
@mixin form-size($width,$height,$pa-t,$pa-l,$font-size){
    width: $width;
    height: $height;
    padding: $pa-t $pa-l;
    font-size: $font-size;
}

// 按钮
@mixin btn($theme-color:#55ade9){
    display: inline-block;
    padding: .625rem 3rem;
    font-size: 1.26rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    background:transparent;
    color: $brand-primary-lighter;
    cursor: pointer;
    user-select: none;
    border: 1px solid $brand-primary-lighter;
    border-radius: .5rem;
    &:focus{
        outline: 0;
        border-color: $theme-color;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(19,190,171,.6);
        
    }
  
}
// 显示的颜色 hover的颜色 focus的颜色
@mixin btn-color($bg-color,$font-color,$border-color){
    background:$bg-color;
    border-color: $border-color;
    color: $font-color;
    &:focus{
        color: $font-color;
        border-color: darken($border-color, 25%);
    }
}
@mixin btn-size($pa-tb,$pa-lr,$font-size,$border-radius:4px){
    padding: $pa-tb $pa-lr;
    font-size: $font-size;
    border-radius: $border-radius;
}
@mixin tag-size($width,$height,$font-size:14px,$border-radius:6px){

    width: $width;
    height: $height;
    font-size: $font-size;
    border-radius: $border-radius;
}
@mixin tag-color($color,$bg-color,$border-color){
    color: $color;
    background-color: $bg-color;
    border: 1px solid $border-color;
}


// .btn{
    
    
// }


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·············四、公共类定义*/
.p-form-pa{//表单元素的父类有12px的下边距
    margin-bottom: .75rem;
}
.p-form{
    @include form-base;
}
// 带有两项的表单
.p-form-two{
    position: relative;
    >img{
        position: absolute;
        width: 1.375rem;
        height: .9375rem;
        @include ab-c-v;
        right: 0;
        border: 10px solid transparent;
    }
    >button{
        @include ab-c-v;
        right: 0;
        box-sizing: border-box;
        width: 5.475rem;
        height: 1.625rem;
    }
    >span{
        @include ab-c-v;
        left: 0;
        box-sizing: border-box;
        font-size: 1.05rem;
        color: #333;
        @include flex-v;
    }
    
}
.p-btn{
    @include btn;
}
.btn-primary{
    @include btn-color($brand-primary-lighter,white,transparent );
}
.btn-primary-drak{
    @include btn-color($brand-primary-draker,white,transparent );
}
.btn-sm{
    @include btn-size(.2rem, .75rem, .77rem, .375rem);
}
.btn-full{
    width: 100%;
}
.btn-error{
    background:#fff;
    color:#ff6363;
    border:0;
}
.p-tag.index{
    @include flex-h(center,center);
    font-size: .84rem;
    width: 2.375rem;
    height: 1.375rem;
    background:$brand-wram;
    border-radius: .3125rem;
    color: white;
    >img{
        width: .5rem;
        height: .75rem;
        margin-right: .1rem;
    }
}
.p-tag{
    @include flex-h(center,center);
    
    @include tag-size(3.125rem, 1.375rem, .84rem, .3125rem);
    white-space: nowrap;
}
.p-tag.tag-primary{
    @include tag-color($brand-primary, transparent, $brand-primary);
}
.p-tag.age{
    @include tag-color(#ca75ea, transparent, #ca75ea);
}
.p-tag.height{
    @include tag-color(#f19ec2, transparent, #f19ec2);
}
.p-tag.education{
    @include tag-color(#71befe, transparent, #71befe);
}
.p-tag.star{
    @include tag-color(#fff, #ca75ea, #ca75ea);
}
.p-tag.theme1{
    @include tag-color(#fff, #71befe, #71befe);
    width:4.4rem;
}
.p-tag.theme2{
    @include tag-color(#fff, #f19ec2, #f19ec2);
}
.p-tag-user{
    box-sizing: border-box;
    padding: .25rem 1.125rem;
    font-size: .84rem;
    background:#bde5e8;
    border-radius: .25rem;
    display: inline-block;
    margin-bottom: .375rem;
}
.p-tag-user.warm{
    background:#f9d1e3;
}

// footer上面的一块区域，要有向下的margin,因为footer是fixed的
.last-section{
    margin-bottom: 3.5rem;
}
// 很小的字体
.small-text{
    font-size: .75rem;
    font-weight: 200;
    line-height: 1.2;
}
// 一行超出显示...
.only-one-line{
    max-width: 80%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.only-one-line-full{
    max-width: 88%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
// 使用label模拟表单
// 内联级别
.p-file{
    display: inline-block;
    >input{
        display: none;

    }
    >label{
        display: inline-block;
        border: 1px dotted $border-color;
        box-sizing: border-box;
        border-radius: .25rem;
        width: 4rem;
        height: 3.875rem;
        position: relative;
        &::before{
            content: '';
            width: 2.5rem;
            height: .25rem;
            background:#d8d8d8;
           @include ab-c;
        }
        &::after{
            content: '';
            height: 2.5rem;
            width: .25rem;
            @include ab-c;
            background:#d8d8d8;
        }
    }
}
// 块状
.p-file.block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23.5rem;
    height: 10.5rem;
    border-radius: .625rem;
    margin-bottom: .625rem;

    background:#fff;
    position: relative;
    >label{
        width: 23.5rem;
        height: 10.5rem;
        border-radius: .625rem;
        &::after,&::before{
            background:#bec9db;
        }
    }
    >p{
        @include ab-c();
        width: 6.125rem;
        height: 1.125rem;
        margin-bottom: 30px;
        color: #cecece;
        font-size: .84rem;
        white-space: nowrap;
    }
}

// 扩大点击区域
.p-click-more{
    border: 10px solid transparent;
}

// 前面带有横杠的小标题
.p-title{
    font-size: .98rem;
    font-weight: 800;
    position: relative;
    margin-bottom: 1rem;
    margin-left: 14px;
    &::before{
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background:$brand-primary-lighter;
        left: -14px;
    }
}
.p-title.inline{
    display: inline-block;
    margin-bottom: 0;
}

.btn-wram{
    @include btn-color(#ff657d,white,transparent );
}
// 关注按钮
.btn-size-attention{
    @include btn-size(.625rem, 2rem, 1.12rem, .375rem);
}

.p-title.primary{
    &::before{
        background:$brand-primary;
    }
}
// 前面带小点点的P
.p-text{
    position: relative;
    margin-left: 14px;
    &::before{
        content: '';
        width: .375rem;
        height: .375rem;
        background:$brand-primary;
        border-radius: 50%;
        @include ab-c-v;
        left: -0.875rem;

    }
}

.tag-new{
    padding: .1875rem .25rem;
    display: inline-block;
    border-radius: .25rem;
    color: white;
}
.tag-new.xs{
    font-size: .75rem;

}
.tag-new.theme1{
    background:#df8bff;
}
.tag-new.theme2{
    background:#9ce184;
}
.tag-new.theme3{
    background:#71befe;
}
.tag-new.theme4{
    background:#f19ec2;
}
.tag-new.theme5{
    background:#f6b37f;
}
.tag-new.theme6{
    background:#8b99ff;
}
.my-focus-body{
    background:#fff;
}

.text-fat{
    font-weight: 500;
}

/*·----公共组件  header footer--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············五、公共组件定义*/
/*==导航 header
*/
// 有一项的导航
.p-header{
    height: 3.125rem;
    background:linear-gradient(to right,$brand-primary-lighter,$brand-primary);
    @include flex-h(center,center);
    color: #fff;
    @include pad-lr(1.375rem,.9375rem);

    >h4{
        font-size: 1.33rem;
        font-weight: 300;
    }

}
// 有三个项目的导航
.p-header.three{
    @include flex-h;
    >p{
        font-size: 1.05rem;
        img{
            vertical-align: -0.125rem;
            margin-right: 1px;
            width: 1.125rem;
            height: 1.0625rem;
        }
    }

}
// 有只有两项的导航 
.p-header.two{
    display: block;
    line-height: 3.125rem;
    text-align: center;
    position: relative;
    >img.left{
        width: .75rem;
        height: 1.125rem;
        position: absolute;
        @include ab-c-v;
        left: 0;
        padding: 1.375rem;
    }
    >img.right{
        position: absolute;
        @include ab-c-v;
        right: 0;
        padding: 1.375rem;
    }
}
// 动态页面选项卡导航tab
.p-header.tab{
    button{
        @include btn-size(.25rem, 2rem, 1.33rem, .3125rem);
        font-weight: 300;
        @include btn-color(transparent,white,white );
    }
    button:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

    }
    button.last{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    button.active{
        @include btn-color(white,$brand-primary-lighter,transparent);
    }
    >img{
        width: 1.625rem;
        height: 1.375rem;
        position: absolute;
        right: .625rem;
    }
}


/*==页脚 footer
*/
.p-footer{
    height: 3.4375rem;
    background:#fff;
    @include flex-h;
    @include pad-lr(2.5rem,2.5rem);
    position: fixed;
    left: 0;right: 0;
    bottom: 0;
    z-index: 1;
    >a{
        font-size: .75rem;/*fix it 小屏幕下字体不能小于12px*/
        @include flex-v;
        >img{
            width: 1.4375rem;
            height: 1.5625rem;
            margin-bottom: .375rem;
        }
    }
    a.active{
        color: $brand-primary-lighter;
    }
}







/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············六、body定义（不涉及字体大小）*/

body{
    color: #666666;
    line-height: 1;
    background:$body-bg;

}


