@charset "UTF-8";
/*样式重置*/
/* Document
   ========================================================================== */
html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 *移除body元素默认的margin
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/*
设置这些元素的margin为0，在精准布局时重置这些元素的margin
*/
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 *
 * Remove the gray background on active links in IE 10.
 */
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

/*
<b标签用来语义化的强调，不用来加粗>
*/
b {
  font-weight: normal;
}

/*为small设置正确的字体*/
small {
  font-size: 80%;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

figure {
  margin: 0;
}

/* Forms
   ========================================================================== */
button {
  background: transparent;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* list and table
   ========================================================================== */
ul {
  padding: 0;
  list-style: none;
}

table {
  border-spacing: 0;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*```````````````````一 . 字体与排版 */
@media screen and (max-width: 321px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) and (max-width: 641px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 641px) {
  body {
    font-size: 16px;
  }
}

p {
  font-size: 1em;
}

h5 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2.5em;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````二、颜色主题定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````三、公共类mixin定义*/
::placeholder {
  color: #c4cfd4;
  font-size: .875rem;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·············四、公共类定义*/
.p-form-pa {
  margin-bottom: .75rem;
}

.p-form {
  display: flex;
  width: 100%;
  transition: 0.5s all;
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: .875rem 0.1rem;
  font-size: 1.12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  box-sizing: border-box;
}

.p-form:focus {
  outline: 0;
  border-color: #28d0c2;
}

.p-form-two {
  position: relative;
}

.p-form-two > img {
  position: absolute;
  width: 1.375rem;
  height: .9375rem;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  border: 10px solid transparent;
}

.p-form-two > button {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  box-sizing: border-box;
  width: 5.475rem;
  height: 1.625rem;
}

.p-form-two > span {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  box-sizing: border-box;
  font-size: 1.05rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-btn {
  display: inline-block;
  padding: .625rem 3rem;
  font-size: 1.26rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  color: #28d0c2;
  cursor: pointer;
  user-select: none;
  border: 1px solid #28d0c2;
  border-radius: .5rem;
}

.p-btn:focus {
  outline: 0;
  border-color: #55ade9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(19, 190, 171, 0.6);
}

.btn-primary {
  background: #28d0c2;
  border-color: transparent;
  color: white;
}

.btn-primary:focus {
  color: white;
  border-color: transparent;
}

.btn-sm {
  padding: 0.2rem 0.75rem;
  font-size: 0.77rem;
  border-radius: 0.375rem;
}

.btn-full {
  width: 100%;
}

/*·----公共组件  header footer--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············五、公共组件定义*/
/*==导航 header
*/
.p-header {
  height: 3.125rem;
  background: linear-gradient(to right, #28d0c2, #32afb5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding-left: 1.375rem;
  padding-right: 0.9375rem;
}

.p-header > h4 {
  font-size: 1.33rem;
  font-weight: 300;
}

.p-header.three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-header.three > p {
  font-size: 1.05rem;
}

.p-header.three > p img {
  vertical-align: -0.125rem;
  margin-right: 1px;
}

.p-header.two {
  display: block;
  line-height: 3.125rem;
  text-align: center;
  position: relative;
}

.p-header.two > img.left {
  position: absolute;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  padding: 1.375rem;
}

.p-header.two > img.right {
  position: absolute;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  padding: 1.375rem;
}

.p-header.tab button {
  padding: 0.25rem 2rem;
  font-size: 1.33rem;
  border-radius: 0.3125rem;
  font-weight: 300;
  background: transparent;
  border-color: white;
  color: white;
}

.p-header.tab button:focus {
  color: white;
  border-color: #bfbfbf;
}

.p-header.tab button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-header.tab button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-header.tab button.active {
  background: white;
  border-color: transparent;
  color: #28d0c2;
}

.p-header.tab button.active:focus {
  color: #28d0c2;
  border-color: transparent;
}

/*==页脚 footer
*/
.p-footer {
  height: 3.4375rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.p-footer > a {
  font-size: .75rem;
  /*fix it 小屏幕下字体不能小于12px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-footer > a > img {
  margin-bottom: .375rem;
}

.p-footer a.active {
  color: #28d0c2;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············六、body定义（不涉及字体大小）*/
body {
  color: #666666;
  line-height: 1;
  background: #f6f6f6;
}

/*----------------------------【【index页面样式】】---------------*/
/*----------------------------【【index页面样式】】---------------*/
/*----------------------------【【index页面样式】】---------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············一. 公共变量*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············二. 公共样式*/
.p-tag.index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: .84rem;
  width: 2.375rem;
  height: 1.375rem;
  background: #f55a5f;
  border-radius: .3125rem;
  color: white;
}

.p-tag.index > img {
  width: .5rem;
  height: .75rem;
  margin-right: .1rem;
}

.p-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 1.375rem;
  font-size: 0.84rem;
  border-radius: 0.3125rem;
  white-space: nowrap;
}

.p-tag.age {
  color: #ca75ea;
  background-color: transparent;
  border: 1px solid #ca75ea;
}

.p-tag.height {
  color: #f19ec2;
  background-color: transparent;
  border: 1px solid #f19ec2;
}

.p-tag.education {
  color: #71befe;
  background-color: transparent;
  border: 1px solid #71befe;
}

.p-tag.star {
  color: #fff;
  background-color: #ca75ea;
  border: 1px solid #ca75ea;
}

.p-tag.theme1 {
  color: #fff;
  background-color: #71befe;
  border: 1px solid #71befe;
  width: 4.4rem;
}

.p-tag.theme2 {
  color: #fff;
  background-color: #f19ec2;
  border: 1px solid #f19ec2;
}

.p-tag-user {
  box-sizing: border-box;
  padding: .25rem 1.125rem;
  font-size: .84rem;
  background: #bde5e8;
  border-radius: .25rem;
  display: inline-block;
  margin-bottom: .375rem;
}

.p-tag-user.warm {
  background: #f9d1e3;
}

.last-section {
  margin-bottom: 3.5rem;
}

.small-text {
  font-size: .75rem;
  font-weight: 200;
  line-height: 1.2;
}

.only-one-line {
  max-width: 80%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-file {
  display: inline-block;
}

.p-file > input {
  display: none;
}

.p-file > label {
  display: inline-block;
  border: 1px dotted #e5e5e5;
  box-sizing: border-box;
  border-radius: .25rem;
  width: 4rem;
  height: 3.875rem;
  position: relative;
}

.p-file > label::before {
  content: '';
  width: 2.5rem;
  height: .25rem;
  background: #d8d8d8;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.p-file > label::after {
  content: '';
  height: 2.5rem;
  width: .25rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #d8d8d8;
}

.p-click-more {
  border: 10px solid transparent;
}

.p-title {
  font-size: .98rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 14px;
}

.p-title::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background: #28d0c2;
  left: -14px;
}

.p-title.inline {
  display: inline-block;
  margin-bottom: 0;
}

.btn-wram {
  background: #ff657d;
  border-color: transparent;
  color: white;
}

.btn-wram:focus {
  color: white;
  border-color: transparent;
}

.btn-size-attention {
  padding: 0.625rem 2rem;
  font-size: 1.12rem;
  border-radius: 0.375rem;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. body样式*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. 区域特定样式*/
/*==导航 header
*/
.p-header {
  height: 3.125rem;
  background: linear-gradient(to right, #28d0c2, #32afb5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding-left: 1.375rem;
  padding-right: 0.9375rem;
}

.p-header > h4 {
  font-size: 1.33rem;
  font-weight: 300;
}

.p-header.three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-header.three > p {
  font-size: 1.05rem;
}

.p-header.three > p img {
  vertical-align: -0.125rem;
  margin-right: 1px;
}

.p-header.two {
  display: block;
  line-height: 3.125rem;
  text-align: center;
  position: relative;
}

.p-header.two > img.left {
  position: absolute;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  padding: 1.375rem;
}

.p-header.two > img.right {
  position: absolute;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  padding: 1.375rem;
}

.p-header.tab button {
  padding: 0.25rem 2rem;
  font-size: 1.33rem;
  border-radius: 0.3125rem;
  font-weight: 300;
  background: transparent;
  border-color: white;
  color: white;
}

.p-header.tab button:focus {
  color: white;
  border-color: #bfbfbf;
}

.p-header.tab button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-header.tab button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-header.tab button.active {
  background: white;
  border-color: transparent;
  color: #28d0c2;
}

.p-header.tab button.active:focus {
  color: #28d0c2;
  border-color: transparent;
}

/*==页脚 footer
*/
.p-footer {
  height: 3.4375rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.p-footer > a {
  font-size: .75rem;
  /*fix it 小屏幕下字体不能小于12px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-footer > a > img {
  margin-bottom: .375rem;
}

.p-footer a.active {
  color: #28d0c2;
}

/*-----------------==图片画廊
*/
.p-gallery {
  margin-top: 2.25rem;
  width: 90%;
  /*设置宽度为90%，兼容所有的屏幕宽度*/
  margin-left: auto;
  margin-right: auto;
}

.p-gallery > section {
  height: 29.125rem;
}

.p-gallery > footer {
  width: 100%;
  height: 6.125rem;
  margin-top: 2.25rem;
  box-sizing: border-box;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-gallery > footer img {
  cursor: pointer;
  width: 4.9375rem;
}

.p-stack {
  height: 30.5rem;
  position: relative;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 150%;
}

.p-stack > li {
  position: absolute;
  height: 29.125rem;
  width: 100%;
  background: #fff;
  border-radius: .625rem;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
}

.p-stack > li img.person {
  width: 100%;
  max-width: 100%;
  height: 22.875rem;
}

.p-stack > li img + section {
  box-sizing: border-box;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  margin-top: .5rem;
}

.p-stack > li img + section > h3 {
  font-size: 1.125rem;
}

.p-stack > li img + section .p-tag {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.p-stack > li:first-child {
  transform: translate3d(0, 0, 0);
  z-index: 10;
  opacity: 1;
}

.p-stack > li:nth-child(2) {
  transform: translate3d(0, 0, -60px);
  z-index: 2;
  opacity: 1;
}

.p-stack > li:nth-child(3) {
  transform: translate3d(0, 0, -120px);
  z-index: 1;
  opacity: 1;
}

/*----------------------------【【meet页面样式】】---------------*/
/*----------------------------【【meet页面样式】】---------------*/
/*----------------------------【【meet页面样式】】---------------*/
.p-meet {
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .375rem;
}

.p-meet-item {
  height: 15.5rem;
  background: #fff;
  flex-basis: 48.029%;
  margin-bottom: .375rem;
  border-radius: .375rem;
}

.p-meet-item > section {
  height: 12.375rem;
  position: relative;
}

.p-meet-item > section img {
  width: 100%;
  height: 12.375rem;
}

.p-meet-item > section > aside {
  position: absolute;
  left: 0;
  right: 0;
  height: 1.375rem;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.05rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.p-meet-item > footer {
  box-sizing: border-box;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  margin-top: .25rem;
}

.p-meet-item > footer > b {
  color: #b6b6b6;
  font-size: .84rem;
  margin-top: .375rem;
  display: inline-block;
}

/*----------------------------【【dynamic页面样式】】---------------*/
/*----------------------------【【dynamic页面样式】】---------------*/
/*----------------------------【【dynamic页面样式】】---------------*/
.p-dynamic {
  margin-top: .625rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-dynamic-item {
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-bottom: .625rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .3125rem;
}

.p-dynamic-item > header {
  height: 7.5rem;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-dynamic-item > header > img {
  margin-left: .875rem;
  height: 4.75rem;
  width: 4.75rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.p-dynamic-item > header > aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.p-dynamic-item > header > aside > header {
  margin-bottom: .375rem;
}

.p-dynamic-item > header > aside > header span {
  font-size: 1.055rem;
  color: #333;
  font-weight: 800;
}

.p-dynamic-item > header > aside > header img {
  vertical-align: -0.25rem;
}

.p-dynamic-item > header > aside > footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-dynamic-item > header > aside > footer span {
  margin-right: .25rem;
}

.p-dynamic-item > section p {
  font-size: .84rem;
  line-height: 1.4;
  font-weight: 500;
}

.p-dynamic-item > footer {
  height: 3.875rem;
  font-size: .75rem;
  /* fixed it 字体大小问题*/
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-dynamic-item > footer > section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-dynamic-item > footer > section figure {
  margin: 0;
  margin-right: .75rem;
}

.p-dynamic-item > footer > section figure sup {
  vertical-align: .5rem;
}

/*----------------------------【【meg页面样式】】---------------*/
/*----------------------------【【meg页面样式】】---------------*/
/*----------------------------【【meg页面样式】】---------------*/
/* 计算方式    420+68+68=556px 为整个页面的长度
    页面100%   为420  则556为132.3809524%
    420相对于556是 75.5395683
    68相对于556是12.2302158
*/
.p-meg {
  margin: 0;
  overflow: hidden;
}

.p-meg-item {
  transition: 0.5s all;
  width: 132.3809524%;
  height: 5rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.p-meg-item > section {
  width: 75.5395683%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-meg-item > section > img {
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
}

.p-meg-item > section > div {
  width: 77%;
}

.p-meg-item > section > div > p {
  margin-top: .625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-meg-item > aside {
  width: 12.23021585%;
  height: 100%;
  background: #d9d9d9;
  font-size: 1.05rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-meg-item > aside:last-child {
  background: #ff2233;
}

.js-show {
  transform: translateX(-24.46043%);
}

/*----------------------------【【my 页面样式】】---------------*/
/*----------------------------【【my 页面样式】】---------------*/
/*----------------------------【【my 页面样式】】---------------*/
.my-intro {
  height: 11.375rem;
  background: #fff;
  box-sizing: border-box;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.0625rem;
  padding-right: 0.8125rem;
}

.my-intro > header {
  margin-bottom: .375rem;
  height: 5.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.my-intro > header > img:first-child {
  width: 5.25rem;
  height: 5.25rem;
  margin-right: .625rem;
}

.my-intro > header > aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15.875rem;
}

.my-intro > header > aside > h3 {
  margin-bottom: .375rem;
  font-size: 1.125rem;
}

.my-intro > footer {
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  overflow: hidden;
  white-space: nowrap;
}

.my-intro > footer div.p-file {
  margin-right: 0.8rem;
}

.my-intro > footer > img {
  height: 3.875rem;
  width: 4rem;
  margin-right: 0.8rem;
}

.my-list-item {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-width: 99%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-list-item > img {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 1.1875rem;
}

.my-list-item > span {
  font-size: .98rem;
}

.certification {
  margin-top: .375rem;
  margin-bottom: .375rem;
  background: #fff;
  font-size: .98rem;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.certification section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.certification section > img {
  margin-right: 1.1875rem;
}

.certification aside {
  width: 66%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.certification aside figure {
  max-width: 14.875rem;
  margin: 0;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.certification aside figure > img {
  margin-right: .25rem;
  width: 1.8125rem;
  height: 1.6875rem;
}

.certification aside > img:last-child {
  margin-right: 0;
  width: .75rem;
  height: 1.25rem;
  margin-left: 8px;
  border-left: 0;
}

/*----------------------------【【用户详情user-detail.html】】---------------*/
/*----------------------------【【用户详情user-detail.html】】---------------*/
/*----------------------------【【用户详情user-detail.html】】---------------*/
.p-user-detail > section {
  margin-bottom: .375rem;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #fff;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}

/*````````````````````用户信息*/
.user-info {
  padding-top: 1.5rem;
}

.user-info > section {
  height: 7.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-info > section > img {
  width: 7.375rem;
  max-width: 7.375rem;
  height: 7.375rem;
}

.user-info > section > hgroup {
  margin-top: 1rem;
  margin-left: -0.5rem;
}

.user-info > section > hgroup h3 {
  font-size: 1.12rem;
  margin-bottom: .75rem;
}

.user-info > section > hgroup p {
  font-size: .84rem;
  margin-bottom: .75rem;
}

.user-info > section > hgroup b {
  font-size: .84rem;
}

.user-info > footer {
  height: 5.875rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
}

.user-info > footer > img:not(:last-child) {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: .625rem;
}

/*````````````````````个人标签*/
.user-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-tag > h3 {
  margin-right: .625rem;
}

.user-tag > span:not(:last-child) {
  margin-right: .5rem;
}

/*````````````````````用户认证*/
.user-cert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-cert figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-cert figure img {
  width: 2.625rem;
  height: 2.625rem;
  margin-bottom: .375rem;
}

/*````````````````````个人资料*/
.user-detail > section, .user-standard > section {
  margin-left: .75rem;
  max-width: 16.25rem;
}

/*````````````````````自我评价*/
.user-comment > p {
  line-height: 1.2;
  font-weight: 600;
  margin-left: 1rem;
  text-indent: 1rem;
  font-size: .84rem;
}

/*````````````````````个人动态*/
.user-dynamic > section {
  margin-bottom: .625rem;
  padding-bottom: .625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.user-dynamic > section > p {
  margin: .625rem 0;
}

.user-dynamic > section > footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*````````````````````footer*/
.p-footer.user-detail {
  padding: 0;
}

.p-footer.user-detail > a {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: .98rem;
}

.p-footer.user-detail > a > img {
  width: 1.625rem;
  margin-right: .75rem;
}

/*````````````````````用户信息*/
/*----------------------------【【兼容iphone5】】---------------*/
/*----------------------------【【兼容iphone5】】---------------*/
/*----------------------------【【兼容iphone5】】---------------*/
