@import 'reset.scss';
@import 'base.scss';

/*----------------------------【【index页面样式】】---------------*/
/*----------------------------【【index页面样式】】---------------*/
/*----------------------------【【index页面样式】】---------------*/


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············一. 公共变量*/

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············二. 公共样式*/

.p-title.primary{
    &::before{
        background:$brand-primary;
    }
}
// 前面带小点点的P
.p-text{
    position: relative;
    margin-left: 14px;
    &::before{
        content: '';
        width: .375rem;
        height: .375rem;
        background:$brand-primary;
        border-radius: 50%;
        @include ab-c-v;
        left: -0.875rem;

    }
}

.tag-new{
    padding: .1875rem .25rem;
    display: inline-block;
    border-radius: .25rem;
    color: white;
}
.tag-new.xs{
    font-size: .75rem;

}
.tag-new.theme1{
    background:#df8bff;
}
.tag-new.theme2{
    background:#9ce184;
}
.tag-new.theme3{
    background:#71befe;
}
.tag-new.theme4{
    background:#f19ec2;
}
.tag-new.theme5{
    background:#f6b37f;
}
.tag-new.theme6{
    background:#8b99ff;
}
.my-focus-body{
    background:#fff;
}

.text-fat{
    font-weight: 500;
}


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. body样式*/




/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. 区域特定样式*/


/*-----------------==图片画廊
*/
.p-gallery{
    margin-top: 2.25rem;
    width: 90%;/*设置宽度为90%，兼容所有的屏幕宽度*/
    margin-left: auto;
    margin-right: auto;
    >section{
        height: 29.125rem;
        
    }
    >footer{
        width: 100%;
        height: 6.125rem;
        margin-top: 2.25rem;
        @include pad-lr(3.75rem,3.75rem);
        @include flex-h;
        img{
            cursor: pointer;
            width: 4.9375rem;
        }
    }
}
.p-stack{
    height: 30.5rem;
    position: relative;
    -webkit-perspective: 1000px;
     -webkit-perspective-origin: 50% 150%;
    >li{
        position: absolute;
        height: 29.125rem;
        width: 100%;
        background:#fff;
        img.person{
            width: 100%;
            max-width: 100%;
            height: 22.875rem;
        }
        img+section{
            // @include felx-v();
            @include pad-lr(1.125rem,1.125rem);
            margin-top: .5rem;
            >h3{
                font-size: 1.125rem;
            }
            .p-tag{
                margin-top: .5rem;
                margin-bottom: .5rem;

            }
            
        }
        border-radius: .625rem;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    }
    >li:first-child{
        transform: translate3d(0,0,0);
        z-index: 10;

        opacity: 1;

    }
    >li:nth-child(2){
        transform: translate3d(0,0,-60px);
        z-index: 2;
        opacity: 1;
    }
    >li:nth-child(3){
        transform: translate3d(0,0,-120px);
        z-index: 1;
        opacity: 0;
    }

}

.js-prev-scale{
    transition: 0.5s all;
    transform: scale(1.1);
}



/*----------------------------【【meet页面样式】】---------------*/
/*----------------------------【【meet页面样式】】---------------*/
/*----------------------------【【meet页面样式】】---------------*/


.p-meet{
    @include pad-lr(.5rem,.5rem);
    @include flex-h();
    flex-wrap: wrap;
    margin-top: .375rem;

}
.p-meet-item{
    height: 15.5rem;
    background:#fff;
    flex-basis: 48.029%;
    margin-bottom: .375rem;
    border-radius: .375rem;
    >section{
        height: 12.375rem;
        position: relative;
        img{
            width: 100%;
            height: 12.375rem;
        }
        // 黑色遮罩层
        >aside{
            position: absolute;
            left: 0;right: 0;
            height: 1.375rem;
            bottom: 0;
            z-index: 1;
            background:rgba(0, 0, 0, 0.3);
            color: white;
            font-size: 1.05rem;
            @include flex-h;
            @include pad-lr(.875rem,.875rem);
        }
    }
    >footer{
        @include pad-lr(.875rem,.875rem);
        margin-top: .25rem;
        >b{
            color: $text-lighter;
            font-size: .84rem;
            margin-top: .375rem;
            display: inline-block;
        }
    }
}



/*----------------------------【【dynamic页面样式】】---------------*/
/*----------------------------【【dynamic页面样式】】---------------*/
/*----------------------------【【dynamic页面样式】】---------------*/

.p-dynamic{
    margin-top: .625rem;
    @include pad-lr(.5rem,.5rem);
}
.p-dynamic-item{
    background-color: #fff;
    @include pad-lr(.625rem,.625rem);
    margin-bottom: .625rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: .3125rem;
    >header{
        height: 7.5rem;
        border-bottom: 1px solid $border-color;
        margin-bottom: 1.25rem;
        @include flex-h(flex-start,center);
        >img{
            margin-left: .875rem;
            height:4.75rem;
            width:4.75rem;
            border-radius: 50%;
            margin-right: 1.25rem;
        }
        >aside{
            @include flex-v(flex-start,flex-start);
            >header{

                margin-bottom: .375rem;
                span{
                    font-size: 1.055rem;
                    color: #333;
                    font-weight: 800;
                }
                img{
                    vertical-align: -0.25rem;
                }
            }
            >footer{
                @include flex-h(flex-start,center);
                span{
                    margin-right: .25rem;
                }
            }
        }
    }
    >section{
        p{
            font-size: .84rem;
            line-height: 1.4;
            font-weight: 500;
        }
    }
    >footer{
        height: 3.875rem;
        font-size: .75rem;/* fixed it 字体大小问题*/
        font-weight: 200;
        @include flex-h;
        >section{
            @include flex-h(flex-start,center);
            
            figure{
                margin: 0;
                margin-right: .75rem;
                sup{
                    vertical-align: .5rem;
                }
            }
        }
    }
}



/*----------------------------【【meg页面样式】】---------------*/
/*----------------------------【【meg页面样式】】---------------*/
/*----------------------------【【meg页面样式】】---------------*/
/* 计算方式    420+68+68=556px 为整个页面的长度
    页面100%   为420  则556为132.3809524%
    420相对于556是 75.5395683
    68相对于556是12.2302158
*/
.p-meg{
    margin: 0;
    overflow: hidden;
}
.p-meg-item{
    transition: 0.5s all;

    width: 132.3809524%;
    height: 5rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background:#fff;
    @include flex-h(flex-start,flex-start);
    >section{
        width: 75.5395683%;
        height: 100%;
        @include flex-h;
        @include pad-lr(1rem,1rem);
        >img{
            width: 3.625rem;
            height: 3.625rem;
            border-radius: 50%;
        }
        >div{
            width: 77%;
            >p{
                margin-top: .625rem;
                @include flex-h;
            }
        }
    }
    >aside{
        width: 12.23021585%;
        height: 100%;
        background:$brand-info;
        font-size: 1.05rem;
        color: white;
        @include flex-v;
    }
    >aside:last-child{
        background:$brand-danger;
    }
}
// 是否显示删除按钮
.js-show{
    transform: translateX(-24.4604317%);
    
}





/*----------------------------【【my 页面样式】】---------------*/
/*----------------------------【【my 页面样式】】---------------*/
/*----------------------------【【my 页面样式】】---------------*/
// 个人简介
.my-intro{
    height: 11.375rem;
    background:#fff;
    @include border-box(.75rem,.75rem,1.0625rem,.8125rem);
    >header{
        margin-bottom: .375rem;
        height: 5.25rem;
        @include flex-h;
        position: relative;
        >img:first-child{
            width: 5.25rem;
            height: 5.25rem;
            margin-right: .625rem;
        }
        >aside{
            @include flex-v(flex-start,flex-start);;
            width: 15.875rem;
            >h3{
                margin-bottom: .375rem;
                font-size: 1.125rem;
            }
        }

         
    }


    >footer{
        @include pad-lr(.625rem,.625rem);
        overflow: hidden;
        white-space: nowrap;
        div.p-file{
            margin-right: 0.8rem;
        }
        >img{
                height: 3.875rem;
                width: 4rem;
                margin-right: 0.8rem;
                
            }
    }
}

// my-list
.my-list{

}
.my-list-item{
    background:#fff;
    border-bottom: 1px solid $border-color;
    border-width: 99%;
    @include pad-lr(1rem,1rem);
    height: 4rem;
    @include flex-h(flex-start,center);
    >img{
        width: 1.5625rem;
        height: 1.5625rem;
        margin-right: 1.1875rem;
    }
    >span{
        font-size: .98rem;
    }
}

// 认证中心
.certification{
    margin-top: .375rem;
    margin-bottom: .375rem;
    background:#fff;
    font-size: .98rem;
    @include pad-lr(1rem,1rem);
    height: 4rem;
    @include flex-h;
    section{
        @include flex-h;
        >img{
            margin-right: 1.1875rem;
        }
    }
    aside{
        width: 66%;
        @include flex-h(flex-start,center);
        figure{
            max-width: 14.875rem;
            margin: 0;
            overflow: scroll;
            @include flex-h(flex-start,center);
            >img{
            margin-right: .25rem;
            width: 1.8125rem;
            height: 1.6875rem;
        }
        }
        
        >img:last-child{
            margin-right: 0;
            width: .75rem;
            height: 1.25rem;
            margin-left: 8px;
            border-left: 0;
        }
    }
   
}
/*----------------------------【【my 我的动态】】---------------*/
/*----------------------------【【my 我的动态】】---------------*/
/*----------------------------【【my 我的动态】】---------------*/

.my-dynamic{
    h3{
        color: $brand-primary;
        &::before{
            background:$brand-primary;
        }
    }
    .my-time{
        margin-bottom: .5rem;
        display: inline-block;
    }
    .sup{
        vertical-align: 0.5rem;
    }
}



/*----------------------------【【my 我的红娘】】---------------*/
/*----------------------------【【my 我的红娘】】---------------*/
/*----------------------------【【my 我的红娘】】---------------*/

.my-matchmaker{
    >section{
        width: 23.125rem;
        border-radius: .625rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        background:#fff;
        margin: 2.8125rem auto 1.625rem;
        >header{
            height: 12.75rem;
            @include flex-v;
            img{
                width: 8.25rem;
                border-radius: 50%;
            }
        }
        >section{
            padding-bottom: 2.1875rem;
            @include pad-lr(1.875rem,1.625rem);
            p{
                line-height: 2rem;
                 span{
                    color: #333;
                    font-weight: 500;
                }
            }
            p.last{
                color: #333;
                margin-left: 16px;
                font-weight: 500;
            }
           
        }
    }
    >footer{
        @include flex-h;
        margin: 0 1.5rem;
        margin-bottom: 3rem;
        >button{
            background:$brand-primary;
            color: white;
            @include flex-h(center,center);
            width: 10.9375rem;
            height: 3.125rem;
            padding: 0;
            box-sizing: border-box;
            >img{
                margin-right: 0.8rem;
            }
        }
    }
}

/*----------------------------【【my 我的关注】】---------------*/
/*----------------------------【【my 我的关注】】---------------*/
/*----------------------------【【my 我的关注】】---------------*/

.my-focus{
    >section{
        height: 7rem;
     
        border-bottom: 1px solid #e5e5e5;    
        @include flex-h(flex-start,center);
        @include pad-lr(1.1875rem,1.1875rem);
        >img{
            width: 4.625rem;
            height: 4.625rem;
            margin-right: 1.4375rem;
        }
        >aside{
            h4{
                font-size: 1.05rem;
                line-height: 1.75rem;
            }
            p{
                font-size: .84rem;
                line-height: 1.375rem;
                color: #aaaaaa;
                >span:first-child{
                    display: inline-block;
                    margin-right: 1.75rem;
                }
            }
        }
    }
}



/*----------------------------【【用户详情user-detail.html】】---------------*/
/*----------------------------【【用户详情user-detail.html】】---------------*/
/*----------------------------【【用户详情user-detail.html】】---------------*/
// 每个section的下边距的padding
.p-user-detail>section{
    margin-bottom: .375rem;
    @include pad-lr(1.5rem,1.5rem);
    background:#fff;
    @include pad-tb(1rem,1.25rem);
}

/*````````````````````用户信息*/
.user-info{
    padding-top: 1.5rem;
    >section{
        height: 7.375rem;
        @include flex-h;
        >img{

            width: 7.375rem;
            max-width: 7.375rem;
            height: 7.375rem;
        }
        >hgroup{
            margin-top: 1rem;
            margin-left: -0.5rem;
            h3{
                font-size: 1.12rem;
                margin-bottom: .75rem;
            }
            p{
                font-size: .84rem;
                margin-bottom: .75rem;
            }
            b{
                font-size: .84rem;
            }
        }
    }
    >footer{
        height: 5.875rem;
        @include flex-h(flex-start,center);
        white-space: nowrap;
        overflow: scroll;
        >img{
            width: 3.125rem;
            height: 3.125rem;
            margin-right: .625rem;
        }
        >img:last-child{
            margin-right: 0;
        }
    }
}
/*````````````````````个人标签*/
.user-tag{

    @include flex-h(flex-start);
    >h3{
        margin-right: .625rem;
    }
    >span:not(:last-child){
        margin-right: .5rem;
    }
}
/*````````````````````用户认证*/
.user-cert{
    @include flex-h;
    // height: 5.5rem;
    figure{
        margin:0;
        @include flex-v;
        img{
            width: 2.625rem;
            height: 2.625rem;
            margin-bottom: .375rem;
        }
    }
    
}
/*````````````````````个人资料*/
.user-detail,.user-standard{
    >section{
        margin-left: .75rem;
        max-width: 16.25rem;
    }
}
/*````````````````````自我评价*/
.user-comment{
    >p{
        line-height: 1.5;
        font-weight: 600;
        margin-left: 1rem;
        text-indent: 1rem;
        font-size: .84rem;
    }
}
/*````````````````````个人动态*/
.user-dynamic{
    
    >section{
        margin-bottom: .625rem;
        padding-bottom: .625rem;
        @include flex-v(flex-start,flex-start);
        border-bottom: 1px solid $border-color;
        >p{
            margin: .625rem 0;
        }
        >footer{
            width: 100%;
            @include flex-h;
        }
    }
}
/*````````````````````footer*/
.p-footer.user-detail{
    padding: 0;
    >a{
        width: 50%;
        height: 100%;    
        @include flex-h(center,center);
        font-size: .98rem;
        >img{
            width: 1.625rem;
            margin-right: .75rem;
        }
    }
}
/*````````````````````用户信息*/


/*··············分享与举报功能*/
.p-cover{
    position: fixed;
    left: 0;right: 0;
    top: 0;bottom: 0;
    background:rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: 1s all;
    visibility: hidden;
}
.p-share{
    width: 100%;
    background:#ddddde;
    border-radius: .25rem;
    position: absolute;
    bottom: 0;
    color: #333;
    font-size: .84rem;
    visibility: hidden;
    
    >section{
        height: 11.125rem;
        border-bottom: 1px solid #d3d3d4;
        @include flex-h;
        @include pad-lr(1.375rem,1.375rem);
        >h4{
            position: absolute;
            left: 1.375rem;
            top: 1rem;
            color: #adadad;

        }
        >figure{
            margin-top: 1rem;
            @include flex-v;
            img{
                width: 3.5rem;
                margin-bottom: .625rem;
            }
        }
    }
    >footer{
        height: 3.5rem;
        >a{
            display: block;
            height: 100%;
            @include flex-v;
            font-size: 1.12rem;
        }
    }
}
.p-user-option{
    @include pad-lr(1.375rem,1.375rem);
    position: absolute;
    bottom: 0;
    width: 100%;
    >button{
        margin-bottom: .5rem;
    }
}


/*··············增加动态页面*/

.p-cover.dy{
    top:3.125rem;
     transition: 1s all;
}
.add-dy{
    background:#fff;
    height: 9.125rem;
    @include flex-h;
    @include pad-lr(1.625rem,1.625rem);
    >a{
        @include flex-v;
        img{
            margin-bottom: .4rem;
        }

    }
}
.js-cover-toggle{
    transition: .1s all;
    visibility: visible;
}
.js-up{
    transition: .2s all;
    transform: translateY(-12.5rem);
}








// 是否显示modal
.js-show-modal{
    transition: 1s all;
    visibility: visible;
}
// 是否显示操作框
.js-toggle-user-options{
    transition: 1s all;
    transform: translateY(600px);
}


// 是否分享
.js-show-share-modal{
    transition: 1s all;
    visibility: visible;
}
