@import 'reset.scss';
@import 'base.scss';

/*----------------------------【【index页面样式】】---------------*/
/*----------------------------【【index页面样式】】---------------*/
/*----------------------------【【index页面样式】】---------------*/


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············一. 公共变量*/

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············二. 公共样式*/

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. body样式*/
body{
    // padding: 50px;
}




/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. 区域特定样式*/

/*==导航 header
*/
// 有一项的导航
.p-header{
    height: 3.125rem;
    background:linear-gradient(to right,$brand-primary-lighter,$brand-primary);
    @include flex-h(center,center);
    color: #fff;
    @include pad-lr(1.375rem,.9375rem);

    >h4{
        font-size: 1.33rem;
        font-weight: 300;
    }

}
// 有三个项目的导航
.p-header.three{
    @include flex-h;
    >p{
        font-size: 1.05rem;
        img{
            vertical-align: -0.125rem;
            margin-right: 1px;
        }
    }

}
// 有只有两项的导航 
.p-header.two{
    display: block;
    line-height: 3.125rem;
    text-align: center;
    position: relative;
    >img.left{
        position: absolute;
        @include ab-c-v;
        left: 0;
        padding: 1.375rem;
    }
    >img.right{
        position: absolute;
        @include ab-c-v;
        right: 0;
        padding: 1.375rem;
    }
}
// 动态页面选项卡导航tab
.p-header.tab{
    button{
        @include btn-size(.25rem, 2rem, 1.33rem, .3125rem);
        font-weight: 300;
        @include btn-color(transparent,white,white );
    }
    button:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

    }
    button:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    button.active{
        @include btn-color(white,$brand-primary-lighter,transparent);
    }
}


/*==页脚 footer
*/
.p-footer{
    height: 3.4375rem;
    background:#fff;
    @include flex-h;
    @include pad-lr(2.5rem,2.5rem);
    position: fixed;
    left: 0;right: 0;
    bottom: 0;
    >a{
        font-size: .75rem;/*fix it 小屏幕下字体不能小于12px*/
        @include flex-v;
        >img{
            margin-bottom: .375rem;
        }
    }
    a.active{
        color: $brand-primary-lighter;
    }
}

/*-----------------==图片画廊
*/
.p-gallery{
    margin-top: 2.25rem;
    width: 22.875rem;
    margin-left: auto;
    margin-right: auto;
    >section{
        height: 29.125rem;
        background:#fff;
        img{
            width: 100%;
            max-width: 100%;
        }
        img+section{
            // @include felx-v();
        }
    }
    >footer{
        width: 100%;
        height: 4.75rem;
        margin-top: 2.25rem;
        @include pad-lr(3.75rem,3.75rem);
        @include flex-h;
        img{
            cursor: pointer;
        }
    }
}