@charset "UTF-8";
/*样式重置*/
/* Document
   ========================================================================== */
html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 *移除body元素默认的margin
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/*
设置这些元素的margin为0，在精准布局时重置这些元素的margin
*/
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 *
 * Remove the gray background on active links in IE 10.
 */
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/*
<b标签用来语义化的强调，不用来加粗>
*/
b {
  font-weight: normal;
}

/*为small设置正确的字体*/
small {
  font-size: 80%;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

figure {
  margin: 0;
}

/* Forms
   ========================================================================== */
button {
  background: transparent;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* list and table
   ========================================================================== */
ul {
  padding: 0;
  list-style: none;
}

table {
  border-spacing: 0;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*```````````````````一 . 字体与排版 */
@media screen and (max-width: 321px) {
  body {
    font-size: .75rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: .8125rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 641px) {
  body {
    font-size: .875rem;
  }
}

@media screen and (min-width: 641px) {
  body {
    font-size: 1rem;
  }
}

p {
  font-size: 1em;
}

h5 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2.5em;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````二、颜色主题定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````三、公共类mixin定义*/
::placeholder {
  color: #c4cfd4;
  font-size: .875rem;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·············四、公共类定义*/
.p-form-pa {
  margin-bottom: .75rem;
}

.p-form {
  display: flex;
  width: 100%;
  transition: 0.5s all;
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: .875rem 0.1rem;
  font-size: 1.12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  box-sizing: border-box;
}

.p-form:focus {
  outline: 0;
  border-color: #28d0c2;
}

.p-form-two {
  position: relative;
}

.p-form-two > img {
  position: absolute;
  width: 1.375rem;
  height: .9375rem;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  border: 10px solid transparent;
}

.p-form-two > button {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  box-sizing: border-box;
  width: 5.475rem;
  height: 1.625rem;
}

.p-form-two > span {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  box-sizing: border-box;
  font-size: 1.05rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-btn {
  display: inline-block;
  padding: .625rem 3rem;
  font-size: 1.26rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  color: #28d0c2;
  cursor: pointer;
  user-select: none;
  border: 1px solid #28d0c2;
  border-radius: .5rem;
}

.p-btn:focus {
  outline: 0;
  border-color: #55ade9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(19, 190, 171, 0.6);
}

.btn-primary {
  background: #28d0c2;
  border-color: transparent;
  color: white;
}

.btn-primary:focus {
  color: white;
  border-color: transparent;
}

.btn-primary-drak {
  background: #25aab2;
  border-color: transparent;
  color: white;
}

.btn-primary-drak:focus {
  color: white;
  border-color: transparent;
}

.btn-sm {
  padding: 0.2rem 0.75rem;
  font-size: 0.77rem;
  border-radius: 0.375rem;
}

.btn-full {
  width: 100%;
}

.btn-error {
  background: #fff;
  color: #ff6363;
  border: 0;
}

.p-tag.index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: .84rem;
  width: 2.375rem;
  height: 1.375rem;
  background: #f55a5f;
  border-radius: .3125rem;
  color: white;
}

.p-tag.index > img {
  width: .5rem;
  height: .75rem;
  margin-right: .1rem;
}

.p-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 1.375rem;
  font-size: 0.84rem;
  border-radius: 0.3125rem;
  white-space: nowrap;
}

.p-tag.tag-primary {
  color: #32afb5;
  background-color: transparent;
  border: 1px solid #32afb5;
}

.p-tag.age {
  color: #ca75ea;
  background-color: transparent;
  border: 1px solid #ca75ea;
}

.p-tag.height {
  color: #f19ec2;
  background-color: transparent;
  border: 1px solid #f19ec2;
}

.p-tag.education {
  color: #71befe;
  background-color: transparent;
  border: 1px solid #71befe;
}

.p-tag.star {
  color: #fff;
  background-color: #ca75ea;
  border: 1px solid #ca75ea;
}

.p-tag.theme1 {
  color: #fff;
  background-color: #71befe;
  border: 1px solid #71befe;
  width: 4.4rem;
}

.p-tag.theme2 {
  color: #fff;
  background-color: #f19ec2;
  border: 1px solid #f19ec2;
}

.p-tag-user {
  box-sizing: border-box;
  padding: .25rem 1.125rem;
  font-size: .84rem;
  background: #bde5e8;
  border-radius: .25rem;
  display: inline-block;
  margin-bottom: .375rem;
}

.p-tag-user.warm {
  background: #f9d1e3;
}

.last-section {
  margin-bottom: 3.5rem;
}

.small-text {
  font-size: .75rem;
  font-weight: 200;
  line-height: 1.2;
}

.only-one-line {
  max-width: 80%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.only-one-line-full {
  max-width: 88%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-file {
  display: inline-block;
}

.p-file > input {
  display: none;
}

.p-file > label {
  display: inline-block;
  border: 1px dotted #e5e5e5;
  box-sizing: border-box;
  border-radius: .25rem;
  width: 4rem;
  height: 3.875rem;
  position: relative;
}

.p-file > label::before {
  content: '';
  width: 2.5rem;
  height: .25rem;
  background: #d8d8d8;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.p-file > label::after {
  content: '';
  height: 2.5rem;
  width: .25rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #d8d8d8;
}

.p-file.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23.5rem;
  height: 10.5rem;
  border-radius: .625rem;
  margin-bottom: .625rem;
  background: #fff;
  position: relative;
}

.p-file.block > label {
  width: 23.5rem;
  height: 10.5rem;
  border-radius: .625rem;
}

.p-file.block > label::after, .p-file.block > label::before {
  background: #bec9db;
}

.p-file.block > p {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 6.125rem;
  height: 1.125rem;
  margin-bottom: 30px;
  color: #cecece;
  font-size: .84rem;
  white-space: nowrap;
}

.p-click-more {
  border: 10px solid transparent;
}

.p-title {
  font-size: .98rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 14px;
}

.p-title::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background: #28d0c2;
  left: -14px;
}

.p-title.inline {
  display: inline-block;
  margin-bottom: 0;
}

.btn-wram {
  background: #ff657d;
  border-color: transparent;
  color: white;
}

.btn-wram:focus {
  color: white;
  border-color: transparent;
}

.btn-size-attention {
  padding: 0.625rem 2rem;
  font-size: 1.12rem;
  border-radius: 0.375rem;
}

.p-title.primary::before {
  background: #32afb5;
}

.p-text {
  position: relative;
  margin-left: 14px;
}

.p-text::before {
  content: '';
  width: .375rem;
  height: .375rem;
  background: #32afb5;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: -0.875rem;
}

.tag-new {
  padding: .1875rem .25rem;
  display: inline-block;
  border-radius: .25rem;
  color: white;
}

.tag-new.xs {
  font-size: .75rem;
}

.tag-new.theme1 {
  background: #df8bff;
}

.tag-new.theme2 {
  background: #9ce184;
}

.tag-new.theme3 {
  background: #71befe;
}

.tag-new.theme4 {
  background: #f19ec2;
}

.tag-new.theme5 {
  background: #f6b37f;
}

.tag-new.theme6 {
  background: #8b99ff;
}

.my-focus-body {
  background: #fff;
}

.text-fat {
  font-weight: 500;
}

/*·----公共组件  header footer--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············五、公共组件定义*/
/*==导航 header
*/
.p-header {
  height: 3.125rem;
  background: linear-gradient(to right, #28d0c2, #32afb5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding-left: 1.375rem;
  padding-right: 0.9375rem;
}

.p-header > h4 {
  font-size: 1.33rem;
  font-weight: 300;
}

.p-header.three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-header.three > p {
  font-size: 1.05rem;
}

.p-header.three > p img {
  vertical-align: -0.125rem;
  margin-right: 1px;
  width: 1.125rem;
  height: 1.0625rem;
}

.p-header.two {
  display: block;
  line-height: 3.125rem;
  text-align: center;
  position: relative;
}

.p-header.two > img.left {
  width: .75rem;
  height: 1.125rem;
  position: absolute;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  padding: 1.375rem;
}

.p-header.two > img.right {
  position: absolute;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  padding: 1.375rem;
}

.p-header.tab button {
  padding: 0.25rem 2rem;
  font-size: 1.33rem;
  border-radius: 0.3125rem;
  font-weight: 300;
  background: transparent;
  border-color: white;
  color: white;
}

.p-header.tab button:focus {
  color: white;
  border-color: #bfbfbf;
}

.p-header.tab button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-header.tab button.last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-header.tab button.active {
  background: white;
  border-color: transparent;
  color: #28d0c2;
}

.p-header.tab button.active:focus {
  color: #28d0c2;
  border-color: transparent;
}

.p-header.tab > img {
  width: 1.625rem;
  height: 1.375rem;
  position: absolute;
  right: .625rem;
}

/*==页脚 footer
*/
.p-footer {
  height: 3.4375rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.p-footer > a {
  font-size: .75rem;
  /*fix it 小屏幕下字体不能小于12px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-footer > a > img {
  width: 1.4375rem;
  height: 1.5625rem;
  margin-bottom: .375rem;
}

.p-footer a.active {
  color: #28d0c2;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············六、body定义（不涉及字体大小）*/
body {
  color: #666666;
  line-height: 1;
  background: #f6f6f6;
}

.p-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #bababa;
  font-size: 1.05rem;
  height: 2.1875rem;
}

.cert-form-pa {
  margin-bottom: .75rem;
}

.no-border {
  border: 0;
}

/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
.p-text-help {
  font-size: .84rem;
  color: #c4cfd4;
}

.p-text-help.active {
  color: #28d0c2;
}

body {
  background: #fff;
  height: 100%;
}

.p-cover {
  height: 18.1875rem;
  margin-bottom: 1.125rem;
}

.p-cover > img {
  width: 100%;
  height: 100%;
}

.p-reg {
  box-sizing: border-box;
  padding-left: 2.625rem;
  padding-right: 2.75rem;
}

.p-reg .p-help {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-reg > footer {
  margin-top: 1.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem;
}

/*----------------------------【【修改密码页面样式】】---------------*/
/*----------------------------【【修改密码页面样式】】---------------*/
/*----------------------------【【修改密码页面样式】】---------------*/
.p-forgetpass {
  box-sizing: border-box;
  padding-left: 1.75rem;
  padding-right: 2rem;
}

.p-forgetpass > h3 {
  margin-top: 2.625rem;
  margin-bottom: 2.625rem;
}

.p-forgetpass > footer {
  margin-top: 3rem;
}

.p-changepass {
  box-sizing: border-box;
  padding-left: 1.75rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.p-changepass input {
  text-align: right;
}

.p-changepass > footer {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
}

/*----------------------------【【学历认证】】---------------*/
/*----------------------------【【学历认证】】---------------*/
/*----------------------------【【学历认证】】---------------*/
.p-cert-education {
  box-sizing: border-box;
  padding-left: 2.375rem;
  padding-right: 2.4375rem;
  padding-top: 2.375rem;
}

.p-cert-education img {
  width: .75rem;
  height: 1.375rem;
}

.p-cert-education > footer {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
}

.p-cert-education > footer button {
  background: #25aab2;
}

/*----------------------------【【身份认证】】---------------*/
/*----------------------------【【身份认证】】---------------*/
/*----------------------------【【身份认证】】---------------*/
.p-cert-name-body {
  background: #f3f4f6;
}

.p-cert-name > section:first-child {
  margin-top: 1.1875rem;
  background: #fff;
  box-sizing: border-box;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
}

.p-cert-name > section:first-child input {
  text-align: right;
}

.p-cert-name > footer {
  position: absolute;
  bottom: 3rem;
  left: 1.25rem;
  right: 1.25rem;
}

.p-cert-name > footer button {
  background: #25aab2;
}

/*----------------------------【【个人信息】】---------------*/
/*----------------------------【【个人信息】】---------------*/
/*----------------------------【【个人信息】】---------------*/
.personal-info {
  box-sizing: border-box;
  padding-left: 1.375rem;
  padding-right: 1.1875rem;
  padding-top: 1.375rem;
}

.personal-info > header {
  font-size: .84rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-info > header > img {
  width: 7.25rem;
  height: 7.25rem;
  border-radius: 50%;
  margin-bottom: .375rem;
}

.personal-info > header > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.personal-info > header > section img {
  width: .9375rem;
  height: .9375rem;
  margin-left: .25rem;
}

.personal-info-item > header {
  height: 1.25rem;
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.personal-info-item > header h3 {
  font-size: 1.30625rem;
  margin-bottom: 0;
}

.personal-info-item > header h3::before {
  width: .375rem;
  border-radius: .125rem;
  background: #25aab2;
}

.personal-info-item > header > span {
  color: #25aab2;
}

.personal-info-item > section {
  border-left: 4px dotted #25aab2;
  padding-left: .75rem;
}

.personal-info-item > section > p {
  line-height: 2rem;
  /*attention注意*/
  font-size: .84rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.personal-info-item > section > p span:first-child {
  flex-basis: 55%;
}

/*----------------------------【【编辑资料】】---------------*/
/*----------------------------【【编辑资料】】---------------*/
/*----------------------------【【编辑资料】】---------------*/
.p-header.personal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-header.personal h4 {
  font-size: 1.19rem;
  font-weight: normal;
}

.p-header.personal > section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-header.personal > section img {
  width: .6875rem;
  height: 1.0625rem;
  border-right: .75rem solid transparent;
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.p-form-personal > span {
  left: 1.125rem;
}

.p-form-personal > input {
  height: 2.1875rem;
  padding-right: 1.125rem;
  font-size: 1.12rem;
}

.p-form-personal ::placeholder {
  color: #28d0c2;
  font-size: 1.12rem;
}

.p-personal-info-edit input {
  text-align: right;
  border-color: #ebebeb;
}

.p-personal-info-edit aside {
  background: #f1f1f1;
  color: #333;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1.125rem;
  padding-top: .5rem;
  font-size: .98rem;
  line-height: 2.625rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-personal-info-edit aside p {
  margin-right: .5rem;
}

/*----------------------------【【搜索】】---------------*/
/*----------------------------【【搜索】】---------------*/
/*----------------------------【【搜索】】---------------*/
.p-header.search span {
  display: inline-block;
  margin-right: 3.75rem;
  font-size: 1.19rem;
  color: #95dbdc;
}

.p-header.search span:last-child {
  margin-right: 0;
}

.p-header.search span.active {
  color: white;
  position: relative;
}

.p-header.search span.active::after {
  content: '';
  position: absolute;
  width: 2.25rem;
  height: .2rem;
  background: #fff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 2.375rem;
}

.search-body {
  background: #edf1f4;
}

.p-search > footer {
  position: absolute;
  bottom: 1rem;
  left: 1.25rem;
  right: 1.25rem;
}

.p-search > footer button {
  background: #25aab2;
}

.condition {
  width: 24.875rem;
  height: 10.5rem;
  border-radius: .625rem;
  background: #fff;
  margin: 1rem auto;
  font-size: 1.05rem;
}

.condition-list {
  height: 5.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.condition-list > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.condition-list > a > img {
  width: 2.125rem;
  margin-bottom: 1.125rem;
}

.condition-base {
  background: #fff;
  margin: 0 .6875rem;
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: .9375rem;
  border-radius: .625rem;
}

.condition-base > h3 {
  font-size: 1.05rem;
}

.condition-base > div.p-form-pa {
  margin-bottom: 0;
}

.condition-base > div.p-form-pa span {
  left: 1rem;
}

.condition-base > div.p-form-pa input {
  height: 3.4375rem;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0;
  padding-right: 1.25rem;
}

.condition-base > div.p-form-pa img {
  width: .625rem;
  height: .875rem;
  margin-right: -0.625rem;
}

.p-search-precise {
  display: none;
}

.p-search-precise .search-input-pa {
  width: 24.875rem;
  height: 5.0625rem;
  margin: .75rem auto;
  border-radius: .3125rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.p-search-precise .search-input-pa > input {
  height: 2.875rem;
  width: 22.75rem;
  border: 0;
  background: #f3f5f7;
  padding-left: 2.25rem;
  border-radius: .5rem;
}

.p-search-precise .search-input-pa > img {
  width: 1.1875rem;
  height: 1.125rem;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 1.5rem;
}

.p-search-precise footer {
  height: 4.625rem;
  background: #fff;
  position: absolute;
  bottom: 1.25rem;
  border-radius: .3125rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-search-precise footer > button {
  background: #d9d9d9;
  transition: 1s all;
}

.js-search-show {
  display: block;
}

.js-search-hide {
  display: none;
}

.js-toggle-color {
  background: #25aab2 !important;
  transition: 1s all;
}

@media screen and (min-width: 760px) {
  .ll-search-f {
    position: relative !important;
    padding: 0 1.875rem;
    bottom: 1rem;
    margin-top: 3.75rem;
    left: 0 !important;
    right: 0 !important;
  }
}

/*----------------------------【【修改自我介绍】】---------------*/
/*----------------------------【【修改自我介绍】】---------------*/
/*----------------------------【【修改自我介绍】】---------------*/
.self-intro-body {
  background: #eeeeee;
}

.self-intro > section textarea {
  height: 12.5rem;
  box-sizing: border-box;
  padding-left: 1.875rem;
  padding-right: 2rem;
  padding-top: .9375rem;
  background: #fff;
  font-weight: 500;
}

.self-intro > section aside {
  height: 3rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  color: #e5e5e5;
}

.self-intro > footer {
  margin: .9375rem 2rem 2rem 1.125rem;
  line-height: 1.25rem;
  font-weight: 400;
}
