@import 'reset.scss';
@import 'base.scss';


// `````````公共界面样式

$brand-primary-draker:#25aab2;
// label占满一行
.p-label{
    @include flex-h(flex-start,center);
    color: #bababa;
    font-size: 1.05rem;
    height: 2.1875rem;
}
.cert-form-pa{
    margin-bottom: .75rem;
}
// 灭有border的input
.no-border{
    border: 0;
}








/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
.p-text-help{
    font-size: .84rem;
    color: #c4cfd4;
}
.p-text-help.active{
    color: $brand-primary-lighter;
}
body{
    background:#fff;
    height: 100%;
}
.p-cover{
    height: 18.1875rem;
    margin-bottom: 1.125rem;
    >img{
        width: 100%;
        height: 100%;
    }
}

.p-reg{
    @include pad-lr(2.625rem,2.75rem);
    .p-help{
        @include flex-h;
    }
    >footer{
        margin-top: 1.375rem;
        @include flex-h;
        height: 5.625rem;
    }
}

/*----------------------------【【修改密码页面样式】】---------------*/
/*----------------------------【【修改密码页面样式】】---------------*/
/*----------------------------【【修改密码页面样式】】---------------*/
// 忘记密码
.p-forgetpass{
    @include pad-lr(1.75rem,2rem);
    >h3{
        margin-top: 2.625rem;
        margin-bottom: 2.625rem;
    }
    >footer{
        margin-top: 3rem;
    }
}
.p-changepass{
    @include pad-lr(1.75rem,2rem);
    padding-top: 1rem;
    input{
        text-align: right;
    }
    >footer{
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        right: 1.25rem;
    }
}






/*----------------------------【【学历认证】】---------------*/
/*----------------------------【【学历认证】】---------------*/
/*----------------------------【【学历认证】】---------------*/

.p-cert-education{
    @include pad-lr(2.375rem,2.4375rem);
    padding-top: 2.375rem;
    img{
        width: .75rem;
        height: 1.375rem;
    }
     >footer{
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        right: 1.25rem;
        button{
            background:#25aab2;
        }
    }
}


/*----------------------------【【身份认证】】---------------*/
/*----------------------------【【身份认证】】---------------*/
/*----------------------------【【身份认证】】---------------*/
.p-cert-name-body{
    background:#f3f4f6;
}
.p-cert-name{
    // @include border-box(1.1875rem,2.875rem,1.375rem,1.4375rem);
    >section:first-child{
        margin-top: 1.1875rem;
        background:#fff;
        @include pad-lr(1.375rem,1.375rem);
        input{
            text-align: right;
        }
    }
   
    >footer{
        position: absolute;
        bottom: 3rem;
        left: 1.25rem;
        right: 1.25rem;
        button{
            background:#25aab2;
        }
    } 
}


/*----------------------------【【个人信息】】---------------*/
/*----------------------------【【个人信息】】---------------*/
/*----------------------------【【个人信息】】---------------*/

.personal-info{
    @include pad-lr(1.375rem,1.1875rem);
    padding-top: 1.375rem;
    >header{
        font-size: .84rem;
        margin-bottom: 1.25rem;
        @include flex-v;
        >img{
            width: 7.25rem;
            height: 7.25rem;
            border-radius: 50%;
            margin-bottom: .375rem;
        }
        >section{
            @include flex-h(center,center);
            img{
                width: .9375rem;
                height: .9375rem;
                margin-left: .25rem;
            }
        }
    }
}

.personal-info-item{
    >header{
        height: 1.25rem;
        margin-top: .9375rem;
        margin-bottom: .9375rem;
        @include flex-h;
        h3{
            font-size: 1.30625rem;
            margin-bottom: 0;
            &::before{
                width: .375rem;
                border-radius: .125rem;
                background:$brand-primary-draker;
            }
        }
        >span{
            color: $brand-primary-draker;
        }
    }
    >section{
        border-left: 4px dotted $brand-primary-draker;
        padding-left: .75rem;
        >p{
            line-height: 2rem;/*attention注意*/
            font-size: .84rem;
            @include flex-h(flex-start,center);
            span:first-child{
                flex-basis: 55%;
            }
        }
    }
}



/*----------------------------【【编辑资料】】---------------*/
/*----------------------------【【编辑资料】】---------------*/
/*----------------------------【【编辑资料】】---------------*/
// 头部覆盖
.p-header.personal{
    @include flex-h;
    h4{
        font-size: 1.19rem;
        font-weight: normal;
    }
    >section{
        @include flex-h(flex-start,center);
        
        img{
            width: .6875rem;
            height: 1.0625rem;
            border-right: .75rem solid transparent;
            padding-top: .625rem;
            padding-bottom: .625rem;
            
        }
    }


    
}

//
.p-form-personal{
    >span{
        left: 1.125rem
    }
    >input{
        height: 2.1875rem;
        padding-right: 1.125rem;
        font-size: 1.12rem;
    }
    ::placeholder{
        color: $brand-primary-lighter;
        font-size: 1.12rem;
    }
}
.p-personal-info-edit{
    input{
        text-align: right;
        border-color: #ebebeb;
    }
    aside{
        background:#f1f1f1;
        color: #333;
        @include pad-lr(1rem,1.125rem);
        padding-top: .5rem;
        font-size: .98rem;
        line-height: 2.625rem;
        @include flex-h(flex-start,center);
        p{
            margin-right: .5rem;
        }

    }
   
}




/*----------------------------【【搜索】】---------------*/
/*----------------------------【【搜索】】---------------*/
/*----------------------------【【搜索】】---------------*/
// 重置header
.p-header.search{
    
    span{
        display: inline-block;
        margin-right: 3.75rem;
        font-size: 1.19rem;
        color: #95dbdc;
    }   
    span:last-child{
        margin-right: 0;
    }
    span.active{
        color: white;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 2.25rem;
            height: .25rem;  
            background:#fff;
            @include ab-c;
            margin-top: 2.375rem;
        }
    }
}
.search-body{
    background:#edf1f4;
}
// 
.p-search{
    >footer{
        position: absolute;
        bottom: 1rem;
        left: 1.25rem;
        right: 1.25rem;
        button{
            background:#25aab2;
        }
    } 
}
// 为你推荐
.condition{
    width: 24.875rem;
    height: 10.5rem;
    border-radius: .625rem;
    background:#fff;
    margin: 1rem auto;
}
.condition-list{
    height: 5.25rem;
    @include flex-h(space-around,center);
    >a{
        @include flex-v;
        >img{
            width: 2.125rem;
            margin-bottom: 1.125rem;
        }
    }
    
}
// 基本条件
.condition-base{
    background:#fff;
    margin:0 .6875rem;
    @include pad-lr(.625rem,.625rem);
    padding-top: .9375rem;
    border-radius: .625rem;
    >h3{
        font-size: 1.05rem;
    }
    >div.p-form-pa{
        margin-bottom: 0;
        span{
            left: 1rem;
        }
        input{
            height: 3.4375rem;
             text-align: right;
            border-top: 1px solid #e5e5e5;
            border-bottom: 0;
            padding-right: 1.25rem;
        }
        img{
            width: .625rem;
            height: .875rem;
            margin-right: -0.625rem;
        }
    }
    input{
       
    }
}




// ````````````精准搜索
.p-search-precise{
    .search-input-pa{
        width: 24.875rem;
        height: 5.0625rem;
        margin: .75rem auto;
        border-radius: .3125rem;
        background:#fff;
        @include flex-h(center,center);
        position: relative;
        >input{
            height: 2.875rem;
            width: 22.75rem;
            border: 0;
            background:#f3f5f7;
            padding-left: 2.25rem;
            border-radius: .5rem
        }
        >img{
            width: 1.1875rem;
            height: 1.125rem;
            @include ab-c-v;
            left: 1.5rem;
        }
    }


    footer{
        height: 4.625rem;
        background:#fff;
        position: absolute;
        bottom: 3rem;
        border-radius: .3125rem;
        left: 0;right: 0;
        @include flex-v;
        @include pad-lr(.625rem,.625rem);
        >button{
            background:#d9d9d9;
        }
    }
}



/*----------------------------【【修改自我介绍】】---------------*/
/*----------------------------【【修改自我介绍】】---------------*/
/*----------------------------【【修改自我介绍】】---------------*/
.self-intro-body{
    background:#eeeeee;
}
.self-intro{
    >section{
        textarea{
            height: 12.5rem;
            @include pad-lr(1.875rem,2rem);
            padding-top: .9375rem;
            background:#fff;
            font-weight: 500;
        }
        aside{
            height: 3rem;
            background:#fff;
            @include flex-h(flex-end,center);
            @include pad-lr(1.125rem,1.125rem);
            color: #e5e5e5;
        }
    }
    >footer{
        margin: .9375rem 2rem 2rem 1.125rem;
        line-height: 1.25rem;
        font-weight: 400;
    }
    
}