@import 'reset.scss';
@import 'base.scss';

/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
.p-text-help{
    font-size: .84rem;
    color: #c4cfd4;
}
.p-text-help.active{
    color: $brand-primary-lighter;
}
body{
    background:#fff;
    height: 100%;
}
.p-cover{
    height: 18.1875rem;
    margin-bottom: 1.125rem;
    >img{
        width: 100%;
        height: 100%;
    }
}

.p-reg{
    @include pad-lr(2.625rem,2.75rem);
    .p-help{
        @include flex-h;
    }
    >footer{
        margin-top: 1.375rem;
        @include flex-h;
        height: 5.625rem;
    }
}


/*----------------------------【【兼容iphone5】】---------------*/
/*----------------------------【【兼容iphone5】】---------------*/
/*----------------------------【【兼容iphone5】】---------------*/
@media screen and (max-width:321px){
    // 注册
    .xs-options{
        button{
            padding: .25rem 2rem;
            
        }
        
    }
    
}
@media screen and (max-width:361px){
    // 注册
    .xs-options{
        button{
            padding: .4rem 2.6rem;
            
        }
        
    }
    
}

/*----------------------------【【兼容平板】】---------------*/
/*----------------------------【【兼容平板】】---------------*/
/*----------------------------【【兼容平板】】---------------*/


@media screen and (min-width:500px){
    // 封面
    .p-cover{
        height: 36rem;
    }
    // 注册

    .xs-options{
        justify-content: center!important;
        button{
            margin-right: 2.875rem;
        }
    }
    
}


