@import 'reset.scss';
@import 'base.scss';


// `````````公共界面样式
// label占满一行
.p-label{
    @include flex-h(flex-start,center);
    color: #bababa;
    font-size: 1.05rem;
    height: 2.1875rem;
}
.cert-form-pa{
    margin-bottom: .75rem;
}
// 灭有border的input
.no-border{
    border: 0;
}








/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
/*----------------------------【【login页面样式】】---------------*/
.p-text-help{
    font-size: .84rem;
    color: #c4cfd4;
}
.p-text-help.active{
    color: $brand-primary-lighter;
}
body{
    background:#fff;
    height: 100%;
}
.p-cover{
    height: 18.1875rem;
    margin-bottom: 1.125rem;
    >img{
        width: 100%;
        height: 100%;
    }
}

.p-reg{
    @include pad-lr(2.625rem,2.75rem);
    .p-help{
        @include flex-h;
    }
    >footer{
        margin-top: 1.375rem;
        @include flex-h;
        height: 5.625rem;
    }
}

/*----------------------------【【修改密码页面样式】】---------------*/
/*----------------------------【【修改密码页面样式】】---------------*/
/*----------------------------【【修改密码页面样式】】---------------*/
// 忘记密码
.p-forgetpass{
    @include pad-lr(1.75rem,2rem);
    >h3{
        margin-top: 2.625rem;
        margin-bottom: 2.625rem;
    }
    >footer{
        margin-top: 3rem;
    }
}
.p-changepass{
    @include pad-lr(1.75rem,2rem);
    padding-top: 1rem;
    input{
        text-align: right;
    }
    >footer{
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        right: 1.25rem;
    }
}






/*----------------------------【【学历认证】】---------------*/
/*----------------------------【【学历认证】】---------------*/
/*----------------------------【【学历认证】】---------------*/

.p-cert-education{
    @include pad-lr(2.375rem,2.4375rem);
    padding-top: 2.375rem;
    img{
        width: .75rem;
        height: 1.375rem;
    }
     >footer{
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        right: 1.25rem;
        button{
            background:#25aab2;
        }
    }
}


/*----------------------------【【身份认证】】---------------*/
/*----------------------------【【身份认证】】---------------*/
/*----------------------------【【身份认证】】---------------*/
.p-cert-name-body{
    background:#f3f4f6;
}
.p-cert-name{
    // @include border-box(1.1875rem,2.875rem,1.375rem,1.4375rem);
    >section:first-child{
        margin-top: 1.1875rem;
        background:#fff;
        @include pad-lr(1.375rem,1.375rem);
        input{
            text-align: right;
        }
    }
   
    >footer{
        position: absolute;
        bottom: 3rem;
        left: 1.25rem;
        right: 1.25rem;
        button{
            background:#25aab2;
        }
    } 
}




