@charset "UTF-8";
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*```````````````````一 . 字体与排版 */
@media screen and (max-width: 321px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) and (max-width: 641px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 641px) {
  body {
    font-size: 16px;
  }
}

p {
  font-size: 1em;
}

h5 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2.5em;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````二、颜色主题定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````三、公共类mixin定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·············四、公共类定义*/
/*·----公共组件  header footer--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············五、公共组件定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············六、body定义（不涉及字体大小）*/
body {
  color: #333;
  line-height: 1;
  font-size: .984375rem;
}
