@charset "UTF-8";
/*样式重置*/
/* Document
   ========================================================================== */
html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 *移除body元素默认的margin
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/*
设置这些元素的margin为0，在精准布局时重置这些元素的margin
*/
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 *
 * Remove the gray background on active links in IE 10.
 */
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

/*
<b标签用来语义化的强调，不用来加粗>
*/
b {
  font-weight: normal;
}

/*为small设置正确的字体*/
small {
  font-size: 80%;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
button {
  background: transparent;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* list and table
   ========================================================================== */
ul {
  padding: 0;
  list-style: none;
}

table {
  border-spacing: 0;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*```````````````````一 . 字体与排版 */
@media screen and (max-width: 321px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 13px;
  }
}

@media screen and (min-width: 400px) and (max-width: 641px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 641px) {
  body {
    font-size: 16px;
  }
}

p {
  font-size: 1em;
}

h5 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 2.5em;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````二、颜色主题定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*``````````````````````````三、公共类mixin定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·············四、公共类定义*/
/*·----公共组件  header footer--------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············五、公共组件定义*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············六、body定义（不涉及字体大小）*/
body {
  color: #333;
  line-height: 1;
  font-size: .984375rem;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············一. 公共变量*/
/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············二. 公共样式*/
.input {
  font-size: .985rem;
  display: block;
  width: 99%;
  color: #999999;
  transition: .5s all;
  height: 3rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: 200;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}

.input:focus {
  outline: 0;
  border-color: #21acfa;
}

.input.textarea {
  height: 11.25rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 1.2rem;
  color: #fff;
  background: #21acfa;
  border-radius: .375rem;
}

.btn:focus {
  outline: 0;
  background-color: #0593e3;
}

.mar-base, .index-header, .banner, .pro-info, .index-menu, .process, .pro-address p, .pro-advantage p, .pro-contrast > section {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mar-r-10 {
  margin-right: .625rem;
}

.font-s {
  font-size: .75rem;
}

.text-light {
  color: #999;
}

.hidden {
  display: none;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. 页面公共组件*/
.index-footer {
  height: 3.625rem;
  width: 100%;
  position: fixed;
  z-index: 2;
  background: #fff;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.index-footer > a {
  flex-basis: 25%;
  height: 3.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
}

.index-footer > a:last-child {
  border: 0;
}

.index-footer a.active {
  background: #21acfa;
  color: #fff;
}

.poster {
  height: 9.375rem;
  width: 100%;
  position: relative;
}

.poster .cover {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster h1 {
  color: #fff;
  font-size: 1.395625rem;
  font-weight: 400;
}

.poster.report {
  background-size: 100% 9.375rem;
  background-image: url("../imgs/img/poster-report.png");
  background-size: cover;
}

.poster.company {
  background-size: 100% 9.375rem;
  background-image: url("../imgs/img/poster-company.png");
  background-size: cover;
}

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············四. 区域特定样式*/
/*············1. header*/
.index-header {
  height: 3.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-header > img:first-child {
  width: 15.625rem;
  height: 2.5rem;
}

.index-header > img:last-child {
  width: 2.375rem;
  height: 2.75rem;
}

/*············2. banner 轮播*/
.banner {
  height: 16rem;
}

.banner img {
  height: 16rem;
}

.banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .8rem;
}

.banner .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid transparent;
  position: relative;
  margin: 0 1rem;
}

.banner .swiper-pagination-bullet-active {
  background: #21acfa;
}

.banner .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -5px;
  margin-left: -5px;
}

/*············3. 产品信息*/
.pro-info > header {
  margin-top: 1.25rem;
  font-weight: 800;
}

.pro-info > section {
  margin: 1.125rem 0;
  line-height: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pro-info img {
  width: 1.5rem;
  height: 1.5rem;
}

/*············4. 菜单*/
.index-menu {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-menu > a {
  flex-basis: 22%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index-menu > a.active {
  color: #21acfa;
}

.index-menu > a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .25rem;
  background: #21acfa;
}

.menu-content {
  margin-bottom: 120px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: relative;
}

.icon::after {
  content: '';
  position: absolute;
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  background: #ccc;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.icon.active {
  border-color: #21acfa;
}

.icon.active::after {
  background: #21acfa;
}

.panel {
  margin-bottom: 1.875rem;
  position: relative;
  border-radius: .5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.075);
}

.panel > header {
  color: #fff;
  font-weight: 600;
  background: #21acfa;
  height: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem .5rem 0 0;
}

.panel > section {
  box-sizing: border-box;
  padding: 1.375rem 2.3125rem 1.875rem 2.375rem;
}

.panel::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: #ccc;
  margin-left: -1.4375rem;
  margin-top: 1.75rem;
}

.panel.step5::before {
  width: 0;
}

.process {
  margin-top: 1.75rem;
}

.process-item > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process-item > header h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.process-item > header h4 span.icon {
  margin-right: 1rem;
}

.process-item > section {
  box-sizing: border-box;
  padding: 1.125rem .75rem 0 1.375rem;
  margin-left: .625rem;
  margin-top: .125rem;
  margin-bottom: .125rem;
  border-left: 1px solid #ccc;
}

.process-item > section.step5 {
  border: 0;
}

.swiper-container.step1,
.swiper-container.step2,
.swiper-container.step3,
.swiper-container.step5 {
  height: 9.25rem;
}

.swiper-container.step1 img,
.swiper-container.step2 img,
.swiper-container.step3 img,
.swiper-container.step5 img {
  height: 9.25rem;
}

.swiper-container.step1 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container.step2 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container.step3 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container.step5 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .8rem;
}

.swiper-container.step1 .swiper-pagination-bullet,
.swiper-container.step2 .swiper-pagination-bullet,
.swiper-container.step3 .swiper-pagination-bullet,
.swiper-container.step5 .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid transparent;
  position: relative;
  margin: 0 1rem;
}

.swiper-container.step1 .swiper-pagination-bullet-active,
.swiper-container.step2 .swiper-pagination-bullet-active,
.swiper-container.step3 .swiper-pagination-bullet-active,
.swiper-container.step5 .swiper-pagination-bullet-active {
  background: #21acfa;
}

.swiper-container.step1 .swiper-pagination-bullet::after,
.swiper-container.step2 .swiper-pagination-bullet::after,
.swiper-container.step3 .swiper-pagination-bullet::after,
.swiper-container.step5 .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 1px solid #21acfa;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -5px;
  margin-left: -5px;
}

.step1.panel > header > img {
  height: 2.5rem;
}

.step1-info,
.step2-info,
.step3-info,
.step4-info,
.step5-info {
  line-height: 1.4rem;
  margin: 1rem 0;
}

.step1-video {
  width: 17.0625rem;
  height: 9.25rem;
}

.step2-info,
.step3-info,
.step4-info,
.step5-info {
  margin-bottom: .5rem;
}

.step4-img {
  width: 100%;
  height: 9.375rem;
}

.js-initial {
  transition: .5s;
  transform: rotate(0deg);
  width: 1.25rem;
  height: .75rem;
}

.js-reverse {
  transform: rotate(180deg);
  transition: .5s;
}

.pro-title {
  height: 3.3125rem;
  background: #ff8560;
  border-bottom: 0.4375rem solid #f9531f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.230625rem;
  color: #fff;
}

.pro-title.special span {
  display: inline-block;
  font-size: 1.394375rem;
  position: relative;
  margin-right: 1.875rem;
  margin-top: .3125rem;
}

.pro-title.special span::before {
  content: '';
  position: absolute;
  width: 1.625rem;
  height: 2.25rem;
  border: 2px solid #fff;
  left: 0;
  top: 0;
  margin-top: -0.625rem;
  margin-left: -1.5625rem;
  border-right: 0;
}

.pro-title.special span::after {
  content: '';
  position: absolute;
  width: 1.625rem;
  height: 2.25rem;
  border: .125rem solid #fff;
  right: 0;
  top: 0;
  margin-top: -0.625rem;
  margin-right: -1.25rem;
  border-left: 0;
}

.product {
  margin-top: 1.625rem;
}

.prod-meg {
  height: 14.5625rem;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-meg img {
  width: 10.9375rem;
  height: 8.4375rem;
  margin-right: 1rem;
}

.prod-meg aside h4 {
  margin-bottom: .4rem;
}

.prod-meg aside p {
  font-size: .9025rem;
  margin-bottom: .8rem;
}

.prod-meg aside p:last-child {
  margin-bottom: 0;
}

.pro-address {
  margin-bottom: 1.875rem;
}

.pro-address img {
  width: 100%;
  margin-bottom: 1.25rem;
}

.pro-address p {
  line-height: 1.4rem;
}

.pro-advantage img {
  width: 100%;
  height: 18.125rem;
}

.pro-advantage p {
  line-height: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.875rem;
}

.pro-contrast > header {
  text-align: center;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.875rem;
}

.pro-contrast > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro-contrast > section figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-contrast > section figure img {
  width: 8.375rem;
  height: 8.375rem;
  margin-bottom: 1.1875rem;
}

.pro-contrast > section figure span {
  font-size: 1.230625rem;
  display: inline-block;
  padding: .5rem .6875rem;
  background: #fe9a59;
  border-radius: .375rem;
  color: #fff;
  font-weight: 300;
}

.pro-contrast > section figure .bg-red {
  background: #80151d;
}

.pro-contrast > section > p {
  font-size: 3.75rem;
  color: #83c146;
  margin-top: -3.75rem;
}

.pro-contrast > footer {
  padding-top: 2.1875rem;
  padding-bottom: 2.375rem;
  font-weight: 500;
}

.pro-contrast > footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-contrast > footer ul li {
  margin-bottom: 1.5625rem;
}

.pro-contrast > footer ul li:last-child {
  margin-bottom: 0;
}

.pro-contrast > footer .text-gold {
  color: #fe9a59;
}

.pro-contrast > footer .text-red {
  color: #80151d;
}

.pro-contrast > footer .text-line {
  color: #83c146;
}

.pro-fit {
  padding-top: 1rem;
}

.pro-fit figure:first-child {
  margin: 0;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}

.pro-fit figure:first-child img {
  width: 100%;
}

.pro-fit figure:last-child {
  margin: 0;
  margin-top: -38px;
  background-image: url(../imgs/img/chelizi.png);
  background-size: 100% 100%;
  height: 16.125rem;
}

/*------------------------*/
/*------------------------*/
.report-form {
  margin-bottom: 4rem;
}

.report-form > footer {
  padding: .9375rem;
  margin-top: 6.375rem;
}

/*------------------------*/
/*------------------------*/
.company-intro, .country-intro {
  box-sizing: border-box;
  padding: 1rem 0.9375rem 2.875rem 0.9375rem;
}

.company-intro h3, .country-intro h3 {
  font-weight: 800;
  font-size: .984375rem;
  line-height: 2rem;
}

.company-intro p, .country-intro p {
  line-height: 1.8;
  color: #666;
}

.company-addr {
  height: 11rem;
  color: white;
  background: #21acfa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-addr img {
  margin-top: -1rem;
  margin-bottom: 1rem;
  width: 3.625rem;
  height: 3.625rem;
}

.company-addr h4 {
  margin-bottom: 1rem;
}

.company-addr p {
  font-weight: 200;
}

.company-tel {
  height: 10.9375rem;
  margin-bottom: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.company-tel img {
  margin-top: -1.25rem;
  width: 3.25rem;
  height: 3.25rem;
  margin-bottom: 1.3125rem;
}

.company-tel h4 {
  margin-bottom: 1.1875rem;
  font-weight: 600;
}

.company-tel p {
  color: #999;
  font-weight: 200;
}

.country-intro h3 {
  margin: .625rem 0;
}

.country-intro p {
  margin-bottom: 1.25rem;
}
