@import 'reset.scss';
@import 'base.scss';

/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············一. 公共变量*/

@mixin pad-lr($l,$r){
    box-sizing: border-box;
    padding-left: $l;
    padding-right: $r;
}
@mixin mar-lr($l,$r){
    margin-left: $l;
    margin-right: $r;
}




// 按钮
@mixin btn($theme-color:#55ade9){
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:focus{
        outline: 0;
        border-color: $theme-color;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        
    }
    &:hover{
        background-color: #e6e6e6;
    }
}
// 显示的颜色 hover的颜色 focus的颜色
@mixin btn-color($bg-color,$font-color,$border-color){
    background:$bg-color;
    border-color: $border-color;
    color: $font-color;
    &:focus{
        color: $font-color;
        background-color: darken($bg-color, 10%);
        border-color: darken($border-color, 25%);
    }
}
@mixin btn-size($pa-tb,$pa-lr,$font-size,$border-radius:4px){
    padding: $pa-tb $pa-lr;
    font-size: $font-size;
    border-radius: $border-radius;
}


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············二. 公共样式*/

.input{
    font-size: .985rem;
    display: block;
    width: 99%;
    color: #999999;
    transition: .5s all;
    height: 3rem;
    @include pad(1rem,1rem,1rem,1rem);
    font-weight: 200;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    &:focus{
        outline: 0;
        border-color: $brand-primary;
    }
}
.input.textarea{
    height: 11.25rem;
}
.btn{
    display: block;
    width: 100%;
    padding: 1.2rem; 
    color: #fff;
    background:$brand-primary;
    border-radius: .375rem;
    &:focus{
        outline: 0;
        background-color: darken($brand-primary, 10%);
    }


}

// 页面左右间距默认的16px，如需更改，只需要改动这个class
.mar-base{
    @include mar-lr(1rem,1rem );
}
.mar-r-10{
    margin-right: .625rem;
}

// 字体样式 common
.font-s{
    font-size: .75rem;
}

.text-light{
    color: #999;
}

.hidden{
    display: none;
}



/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············三. 页面公共组件*/
// footer
.index-footer{
    height: 3.625rem;
    width: 100%;
    position: fixed;
    z-index: 2;
    background:#fff;

    bottom: 0;
    @include flex-h();
    border-top: 1px solid #ccc;
    >a{
        flex-basis: 25%;
        height: 3.625rem;
        @include flex-v();
        border-right: 1px solid #ccc;
    }
    >a:last-child{
        border: 0;
    }
    a.active{
        background:$brand-primary;
        color: #fff;
    }
}
// poster
.poster{
    height: 9.375rem;
    width: 100%;
    position: relative;
    .cover{
        position: absolute;
        z-index:1;
        left: 0;right: 0;
        bottom: 0;top: 0;
        background:rgba(0,0,0,.075);
        @include flex-v();
    }
    h1{
        color: #fff;
        font-size: 1.395625rem;
        font-weight: 400;
    }
}
.poster.report{
    background-size: 100% 9.375rem;
    @include bg-img(url('../imgs/img/poster-report.png'))
}
.poster.company{
    background-size: 100% 9.375rem;
    @include bg-img(url('../imgs/img/poster-company.png'))
}


/*·------------------------------------------------------------------------------------------*/
/*·------------------------------------------------------------------------------------------*/
/*············四. 区域特定样式*/


/*············1. header*/
.index-header{
    height: 3.0625rem;
    @include flex-h(space-between,center);
    @extend .mar-base;
    >img:first-child{
        width: 15.625rem;
        height: 2.5rem;
    }
    >img:last-child{
        width: 2.375rem;
        height: 2.75rem;
    }
}
/*············2. banner 轮播*/
.banner{
    // 显示轮播图大小
    img{
        height: 16rem;
    }
    @extend .mar-base;
    height: 16rem;
    // 小圆点
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 .8rem;
    }
    .swiper-pagination-bullet{
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid transparent;
        position: relative;
        margin: 0 1rem;
    }
    .swiper-pagination-bullet-active{
        background:#21acfa;
    }
    .swiper-pagination-bullet::after{
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid #fff;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: -5px;
        margin-left: -5px;
    }
}


/*············3. 产品信息*/
.pro-info{
    @extend .mar-base;
    >header{
        margin-top: 1.25rem;
        font-weight: 800;
    }
    >section{
        margin: 1.125rem 0;
        line-height: 1.5rem;
        @include flex-h(flex-start,center);
    }
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
}

/*············4. 菜单*/
.index-menu{
    height: 3rem;
    @include flex-h();
    @extend .mar-base;
    >a{
        flex-basis: 22%;
        height: 100%;
        text-align: center;
        @include flex-v();
        position: relative;

    }
    >a.active{
        color: $brand-primary;   
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: .25rem;
            background:$brand-primary;
        }
    }
}
.menu-content{
    margin-bottom: 120px;
}


//============================4-1 procee
// 4.1 通用组件
// icon
.icon{
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: .9rem;
        height: .9rem;
        border-radius: 50%;
        background:#ccc;
        @include ab-c();
        
    }
}
.icon.active{
    border-color: $brand-primary;
    &::after{
        background:$brand-primary;
    }
}
// 面板
.panel{

    margin-bottom: 1.875rem;
    position: relative;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,.075);
    >header{
        color: #fff;
        font-weight: 600;
        background:$brand-primary;
        height: 3.125rem;
        @include flex-v();
        border-radius: .5rem .5rem 0 0;
    }
    >section{
        @include pad(1.375rem,2.3125rem,1.875rem,2.375rem);
    }
}
// 模拟border-left
.panel::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background:#ccc;
    margin-left: -1.4375rem;
    margin-top: 1.75rem;
}
.panel.step5::before{
    width: 0;
}




// 4.2 容器样式
.process{
    margin-top: 1.75rem;
    @extend .mar-base;

}
.process-item{
    >header{
        @include flex-h();
        h4{
            @include flex-h(flex-start);
            span.icon{
                margin-right: 1rem;
            }
        }
            
    }
    >section{
        box-sizing: border-box;
        padding: 1.125rem .75rem 0 1.375rem;
        margin-left: .625rem;
        margin-top: .125rem;
        margin-bottom: .125rem;
        
        border-left: 1px solid #ccc;
    }
    >section.step5{
        border: 0;
    }
}

//==== step1
// 轮播
.swiper-container.step1,
.swiper-container.step2,
.swiper-container.step3,
.swiper-container.step5,
{
    height:9.25rem;
    img{
        height: 9.25rem;
    }
    // 小圆点
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 .8rem;
    }
    .swiper-pagination-bullet{
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid transparent;
        position: relative;
        margin: 0 1rem;
    }
    .swiper-pagination-bullet-active{
        background:#21acfa;
    }
    .swiper-pagination-bullet::after{
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid #21acfa;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: -5px;
        margin-left: -5px;
    }
}
// 信息
.step1.panel>header>img{
    height: 2.5rem;
}
.step1-info,
.step2-info,
.step3-info,
.step4-info,
.step5-info,
{
    line-height: 1.4rem;
    margin: 1rem 0;
}
.step1-video{
    width: 17.0625rem;
    height: 9.25rem;
    
}
//=== step2
.step2-info,
.step3-info,
.step4-info,
.step5-info,
{
    margin-bottom: .5rem;
}

//=== step3


//=== step4
.step4-img{
    width: 100%;
    height:9.375rem;
}


// 4.3 js样式
// arrow 旋转
.js-initial{
    transition: .5s;
    transform: rotate(0deg);
    width: 1.25rem;
    height: .75rem;
}
.js-reverse{
    transform: rotate(180deg);
    transition: .5s;
}

//============================4-2 检测证书



//============================4-3 产品信息
// product通用样式
.pro-title{
    height: 3.3125rem;
    background:$brand-warm;
    border-bottom: .4375rem solid $brand-hot;
    @include flex-v();
    font-size: 1.230625rem;
    color: #fff;
}
.pro-title.special{
    span{
        display: inline-block;
        font-size: 1.394375rem;
        position: relative;
        margin-right: 1.875rem;
        margin-top: .3125rem;
        &::before{
            content: '';
            position: absolute;
            width: 1.625rem;
            height: 2.25rem;
            border: 2px solid #fff;
            left: 0;
            top: 0;
            margin-top: -0.625rem;
            margin-left: -1.5625rem;
            border-right: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 1.625rem;
            height: 2.25rem;
            border: .125rem solid #fff;
            right: 0;
            top: 0;
            margin-top: -0.625rem;
            margin-right: -1.25rem;
            border-left: 0;
        }
    }
}
.product{
    margin-top: 1.625rem;
} 
// 基本信息
.prod-meg{
    height: 14.5625rem;
    @include pad-lr(1rem,1rem );
    @include flex-h();
    img{
        width: 10.9375rem;
        height: 8.4375rem;
        margin-right: 1rem;
    }
    aside{
        h4{
            margin-bottom: .4rem;
        }
        p{
            font-size: .9025rem;
            margin-bottom: .8rem
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
    
}
// 产地
.pro-address{
    margin-bottom: 1.875rem;
    img{
        width: 100%;
        margin-bottom: 1.25rem;
    }
    p{
        @extend .mar-base;
        line-height: 1.4rem;
    }
}
// 优势
.pro-advantage{
    img{
        width: 100%;
        height: 18.125rem;
    }
    p{
        line-height: 1.4rem;
        @extend .mar-base;
        margin-top: 1.5rem;
        margin-bottom: 1.875rem;
    }
}
// 对比
.pro-contrast{
    >header{
        text-align: center;
        line-height: 1.2rem;
        @include flex-v();
        padding-top: 1.5rem;
        padding-bottom: 1.875rem;
    }
    >section{
        @include flex-h();
        @extend .mar-base;
        figure{
            margin: 0;
            @include flex-v();
            img{
                width: 8.375rem;
                height: 8.375rem;
                margin-bottom: 1.1875rem;
            }
            span{
                font-size: 1.230625rem;
                display: inline-block;
                padding: .5rem .6875rem;
                background:#fe9a59;
                border-radius: .375rem;
                color: #fff;
                font-weight: 300;

            }
            .bg-red{
                background:#80151d;
            }
        }
        >p{
            font-size: 3.75rem;
            color: #83c146;
            margin-top: -3.75rem;
        }
        
    }
    >footer{
        padding-top: 2.1875rem;
        padding-bottom: 2.375rem;
        font-weight: 500;
        ul{
            @include flex-v();
            li{
                margin-bottom: 1.5625rem;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
        .text-gold{
            color: #fe9a59;
        }
        .text-red{
            color: #80151d;
        }
        .text-line{
            color: #83c146;
        }
    }
}

.pro-fit{
    padding-top: 1rem;
    figure:first-child{
        margin: 0;
        @include pad-lr(1rem, 1rem);
        z-index: 2;
        img{
            width: 100%;
        }
    }
    figure:last-child{
        margin: 0;
        margin-top: -38px;
        background-image: url(../imgs/img/chelizi.png);
        background-size: 100% 100%;
        height: 16.125rem;
    }
    
}
//============================4-4 企业信息


















/*------------------------*/
// report.html
/*------------------------*/
.report-form{
    margin-bottom: 4rem;
    >footer{
        padding: .9375rem;
        margin-top: 6.375rem;
    }
}



/*------------------------*/
// company.html
/*------------------------*/
.company-intro{
    @include pad(1rem,.9375rem,2.875rem,.9375rem);
    
    h3{
        font-weight: 800;
        font-size: .984375rem;
        line-height: 2rem;
    }
    p{
        line-height: 1.8;
        color: #666;
    }
}
.company-addr{
    height: 11rem;
    color: white;
    background:$brand-primary;
    @include flex-v();
    img{
        margin-top: -1rem;
        margin-bottom: 1rem;
        width: 3.625rem;
        height: 3.625rem;
    }
    h4{
        margin-bottom: 1rem;
    }
    p{
        font-weight: 200;
    }

}

.company-tel{
    height: 10.9375rem;
    margin-bottom: 8.5rem;
    @include flex-v();
    background:#eee;
    img{
        margin-top: -1.25rem;
        width: 3.25rem;
        height: 3.25rem;
        margin-bottom: 1.3125rem;
    }
    h4{
        margin-bottom: 1.1875rem;
        font-weight: 600;
    }
    p{
        color: #999;
        font-weight: 200;
    }
}


.country-intro{
    @extend .company-intro;
    h3{
        margin: .625rem 0;
    }
    p{
        margin-bottom: 1.25rem;
    }
}