@charset "UTF-8";
/* ````````````````````````````重置样式*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 固定高度，宽度，使用margin:0 auto */
/* 通用样式 */
.center-h {
  margin-left: auto;
  margin-right: auto;
}

.flex-bs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-responsive {
  max-width: 100%;
}

/* ································0.body样式 */
body {
  background: #f5f5f5;
  overflow-x: hidden;
}

/* ································1.banner */
.active {
  position: relative;
}

.active::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ed1c24;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 26px;
}

.banner header {
  height: 93.75px;
  line-height: 93.75px;
  width: 100%;
  z-index: 2;
  position: absolute;
  color: white;
  box-sizing: border-box;
  padding-left: 43.75px;
  padding-right: 39.0625px;
  /*nav-左侧*/
  /*nav-右侧*/
}

.banner header nav {
  display: flex;
  align-items: center;
}

.banner header nav h1 {
  width: 107px;
  height: 43px;
  margin: 0;
  margin-right: 30px;
  margin-top: -8px;
}

.banner header nav h1:hover {
  animation: 1s jello;
}

.banner header nav ul {
  display: flex;
  align-items: center;
}

.banner header nav ul li {
  margin-right: 30px;
  display: flex;
}

.banner header nav ul li a {
  color: white;
  position: relative;
}

.banner header nav ul li a:hover {
  text-decoration: none;
}

.banner header nav ul li a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ed1c24;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 26px;
}

.banner header nav ul li a:hover:focus {
  text-decoration: 0;
}

.banner header > div {
  display: flex;
  align-items: center;
}

.banner header > div img.search {
  width: 22px;
  height: 20px;
  cursor: pointer;
}

.banner header > div img.search:hover {
  animation: 1s rubberBand;
  text-decoration: none;
}

.banner header > div img.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.banner header > div img.icon:hover {
  animation: 1s rubberBand;
  text-decoration: none;
}

.banner header > div span {
  margin-right: 36px;
  margin-left: 10px;
}

.banner header > div a {
  color: white;
  margin-right: 10px;
}

.banner header > div a:hover {
  animation: 1s rubberBand;
  text-decoration: none;
}

#banner-swiper {
  height: 700px;
}

#banner-swiper img {
  height: 700px;
}

#banner-swiper .swiper-button-next {
  background-image: url(../images/arrow-right.png);
  width: 39px;
  height: 62px;
  right: 36px;
}

#banner-swiper .swiper-button-prev {
  transform: rotate(180deg);
  background-image: url(../images/arrow-right.png);
  width: 39px;
  height: 62px;
  right: 36px;
}

.pagination-papa {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
  right: 0;
  margin-top: -150px;
  margin-right: 20px;
}

.banner-swiper-pagination {
  color: white;
  font-size: 40px;
  font-weight: 200;
  position: absolute;
  z-index: 3;
  width: 124px;
  right: 0;
}

.banner-swiper-pagination .swiper-pagination-current {
  font-size: 80px;
  margin-right: -8px;
}

/* ································2.广告 */
.ads {
  height: 105px;
  background: #f5f5f5;
  margin-bottom: 20px;
}

.ads figure {
  width: 1100px;
  height: 100%;
}

.ads figure a:first-child {
  width: 704px;
  height: 100%;
}

.ads figure a:first-child img {
  width: 100%;
  height: 100%;
}

.ads figure a:last-child {
  width: 380px;
  height: 100%;
}

/* ································2.今日推荐 */
.recommend {
  background: #f5f5f5;
  box-sizing: border-box;
  padding-top: 15px;
}

.recommend > section.center-h {
  height: 100%;
  width: 1200px;
  background: #fff;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 38px;
}

.recommend > section.center-h > header {
  text-align: center;
  margin-bottom: 15px;
}

.recommend > section.center-h > header h2 {
  font-size: 30px;
  margin-bottom: 24px;
}

.recommend > section.center-h .recommend-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommend > section.center-h .recommend-item {
  width: 260px;
  height: 282px;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}

.recommend > section.center-h .recommend-item > img {
  width: 100%;
  height: 173.4375px;
}

.recommend > section.center-h .recommend-item .circle-img-pa {
  width: 53.125px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
  margin-top: -31.25px;
  margin-right: 7.8125px;
}

.recommend > section.center-h .recommend-item .circle-img-pa img {
  width: 53.125px;
  border-radius: 50%;
}

.recommend > section.center-h .recommend-item > section {
  display: flex;
}

.recommend > section.center-h .recommend-item > section h2 {
  font-size: 20.3125px;
  font-weight: 800;
  margin-top: 6.25px;
  margin-left: 18.75px;
}

.recommend > section.center-h .recommend-item footer {
  font-size: 18.75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 18.75px;
  padding-right: 12.5px;
}

.recommend > section.center-h .recommend-item footer span:first-child {
  color: #ed1c24;
  font-weight: 800;
}

.recommend > section.center-h .recommend-item footer .pt {
  display: inline-block;
  padding: 0px 9.375px;
  background: #ed1c24;
  color: white;
  border-radius: 7.8125px;
  font-size: 18.75px;
}

.recommend > section.center-h .recommend-item footer .pt sup {
  top: -0.1em;
  display: inline-block;
  transform: scale(0.7);
  margin-left: -6.25px;
}

.recommend > section.center-h .recommend-item .hover-cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  height: 175px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 1.2s all;
}

.recommend > section.center-h .recommend-item .hover-cover img {
  width: 123.4375px;
  height: 125px;
}

.recommend > section.center-h .recommend-item .hover-cover p {
  color: white;
  text-align: center;
  margin: 0;
}

.recommend > section.center-h .recommend-item .show-qr {
  opacity: 1;
}

/* ································3.最热优惠 */
.preferential {
  padding-top: 40.625px;
  padding-bottom: 23.4375px;
  background: linear-gradient(#ffd386, #ffa8b2);
}

.preferential header {
  margin-bottom: 43.75px;
  text-align: center;
}

.preferential header h1 {
  font-size: 31.25px;
}

.preferential .swiper-container {
  width: 1117.1875px;
  height: 337.5px;
  margin-left: auto;
  margin-right: auto;
}

.preferential .swiper-slide {
  text-align: center;
  background: #fff;
  height: 153.125px;
  box-sizing: border-box;
  border: 1px solid #ffafb5;
}

.preferential .preferential-item {
  padding: 18.75px;
  align-items: flex-start;
}

.preferential .preferential-item > img {
  width: 116px;
}

.preferential .preferential-item aside {
  height: 100%;
  position: relative;
  font-size: 18.75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preferential .preferential-item aside h3 {
  font-size: 18.75px;
  text-align: left;
  margin: 0;
  margin-bottom: 4.6875px;
}

.preferential .preferential-item aside span.tag {
  color: #eb1c23;
  display: inline-block;
  padding: 3.125px;
  border: 1.5625px solid #eb1c23;
  transform: scale(0.8);
  margin-left: -6.25px;
}

.preferential .preferential-item aside > span:last-child {
  align-self: flex-end;
  display: inline-block;
  background: #eb1c23;
  padding: 1.5625px 6.25px;
  color: white;
  border-radius: 20%;
  transform: scale(0.8);
}

.preferential .preferential-item aside > span:last-child sup {
  top: -3.125px;
  display: inline-block;
  transform: scale(0.8);
}

.preferential aside {
  height: 65.625px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preferential aside .swiper-pagination .swiper-pagination-bullet {
  width: 31.25px;
  height: 9.375px;
  border-radius: 0;
  box-shadow: 0px 0px 3.125px white;
  margin-right: 9.375px;
  background: transparent;
  opacity: 1;
  border: 3.125px solid #fff;
}

.preferential aside .swiper-pagination .swiper-pagination-bullet:focus {
  outline: 0;
}

.preferential aside .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.preferential aside .swiper-pagination .swiper-pagination-bullet-active:focus {
  outline: 0;
}

.preferential footer {
  text-align: center;
}

.preferential footer a {
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  padding: 10px 26px;
  background: #fff;
  color: #333;
  transition: 1s all;
}

/* ································4.商家 */
.shops {
  width: 1200px;
  box-sizing: border-box;
  padding-top: 34.375px;
  padding-bottom: 42.1875px;
  background: #fff;
}

.shops header {
  margin-bottom: 34.375px;
  text-align: center;
}

.shops header h1 {
  font-size: 46.875px;
}

.shops .swiper-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.shops .swiper-slide {
  text-align: center;
  background: #fff;
  height: 270px;
  box-sizing: border-box;
  border: 1.5625px solid #f0f0f0;
}

.shops .shop-item > img {
  height: 178.125px;
  width: 100%;
}

.shops .shop-item div {
  display: flex;
  box-sizing: border-box;
  padding-left: 14.0625px;
  color: #eb1c23;
  font-size: 18.75px;
}

.shops .shop-item div figure {
  width: 56.25px;
  height: 51.5625px;
  box-sizing: border-box;
  padding: 1.5625px;
  border-radius: 50%;
  background: #fff;
  margin-top: -31.25px;
}

.shops .shop-item div figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.shops .shop-item footer {
  font-size: 18.75px;
  box-sizing: border-box;
  padding: 0 29.6875px 15.625px 14.0625px;
}

.shops .shop-item footer p {
  font-weight: 900;
  transform: scale(0.8);
  text-align: left;
  margin-left: -31.25px;
  margin-top: -7.8125px;
}

.shops aside {
  height: 68.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shops aside .shops-swiper-pagination .swiper-pagination-bullet {
  width: 31.25px;
  height: 9.375px;
  border-radius: 0;
  margin-right: 9.375px;
  background: transparent;
  opacity: 1;
  border: 3.125px solid #686767;
}

.shops aside .shops-swiper-pagination .swiper-pagination-bullet:focus {
  outline: 0;
}

.shops aside .shops-swiper-pagination .swiper-pagination-bullet-active {
  background: #686767;
}

.shops aside .shops-swiper-pagination .swiper-pagination-bullet-active:focus {
  outline: 0;
}

.shops footer {
  text-align: center;
}

.shops footer a {
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  padding: 10px 26px;
  background: transparent;
  color: #333;
  border: 1px solid #c2c2c2;
}

.shops footer a:hover {
  animation: 1s tada;
  text-decoration: none;
}

/* ································5.视频区 */
.video-list-pa {
  background: #eb1c23;
}

.video-list {
  width: 1103.125px;
  height: 440.625px;
  box-sizing: border-box;
  padding-top: 46.875px;
  padding-bottom: 20.3125px;
  color: white;
  align-items: flex-end;
}

.video-list .video-item {
  width: 351.5625px;
}

.video-list .video-item h2 {
  font-size: 29.6875px;
  color: white;
  margin-bottom: 23.4375px;
}

.video-list .video-item video-content {
  background: #fff;
}

.video-list .video-item video-content video {
  border: 1.5625px solid #eb1c23;
  width: 100%;
  max-width: 100%;
}

.video-list .video-item.item-first video {
  width: 352px;
}

.video-list .video-item.item-first > .video-content {
  background: #fff;
}

.video-list .video-item.item-first > .video-content > footer {
  box-sizing: border-box;
  padding: 14.0625px 18.75px;
  position: relative;
  height: 121.875px;
}

.video-list .video-item.item-first > .video-content > footer p {
  font-size: 18.75px;
  color: #333;
  margin: 0;
}

.video-list .video-item.item-first > .video-content > footer a {
  font-size: 20.3125px;
  background: #eb1c23;
  color: white;
  padding: 4.6875px 31.25px;
  position: absolute;
  bottom: 14.0625px;
  right: 18.75px;
}

.video-list .video-item.item-first > .video-content > footer a:hover {
  animation: 1s bounce;
}

.video-list .video-item.item-first footer a {
  font-size: 21.875px;
}

.video-list .video-item.item-second > header {
  margin-bottom: 60px;
  margin-left: -15.625px;
  text-align: center;
  cursor: pointer;
}

.video-list .video-item.item-second > header:hover {
  animation: 1s hinge;
}

.video-list .video-item.item-second > header > h1 {
  font-size: 46.875px;
}

.video-list .video-item.item-second > header > h1 img {
  width: 228.125px;
}

.video-list .video-item.item-second > header > h2 {
  font-size: 18.75px;
  margin-top: -46.875px;
  margin-left: 93.75px;
}

.video-list .video-item.item-second > header > h2 img {
  width: 156.25px;
}

.video-list .video-item.item-second video {
  height: 125px;
}

.video-list .video-item.item-second > .video-content {
  background: #fff;
  display: flex;
}

.video-list .video-item.item-second > .video-content aside {
  box-sizing: border-box;
  padding: 18.75px;
}

.video-list .video-item.item-second > .video-content aside p {
  color: #333;
  font-size: 18.75px;
}

.video-list .video-item.item-second > footer {
  margin-top: 26.5625px;
  background: #fff;
  height: 64px;
}

.video-list .video-item.item-second > footer a {
  font-size: 21.875px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.video-list .video-item.item-second > footer a:hover {
  animation: 1s pulse;
}

.video-list .video-item.item-third video {
  width: 352px;
  height: 228px;
}

.video-list .video-item.item-third .video-content {
  background: #fff;
  box-sizing: border-box;
  padding-top: 15.625px;
}

.video-list .video-item.item-third .video-content p {
  font-size: 18.75px;
  color: #333;
  text-align: center;
}

.video-list .video-item.item-third .video-content a {
  font-size: 18.75px;
  display: block;
  color: #333;
}

.video-list .video-item.item-third .video-content a:hover {
  animation: 1s pulse;
}

/* ································6.footer */
.footer {
  background: #323232;
}

.footer > section {
  box-sizing: border-box;
  padding-left: 328.125px;
  padding-right: 34.375px;
  width: 1101.5625px;
  height: 140.625px;
  font-size: 18.75px;
}

.footer > section nav > ul {
  display: flex;
}

.footer > section nav > ul li {
  border-left: 6.25px solid #636363;
  margin-right: 7.8125px;
  padding-left: 7.8125px;
  transform: scale(0.8);
}

.footer > section nav > ul li a {
  color: #c0c0c0;
}

.footer > section nav > ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.footer > section nav > ul li:first-child {
  border-left: 6.25px solid #eb1c23;
}

.footer > section nav > ul li:last-child {
  border-right: 6.25px solid #636363;
}

.footer > section nav > ul li:last-child a {
  padding-right: 15.625px;
}

.footer > section aside {
  display: flex;
  margin-top: 21.875px;
}

.footer > section aside figure {
  margin-right: 7.8125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > section aside p {
  font-size: 18.75px;
  color: white;
  transform: scale(0.8);
}

.footer > section aside img {
  width: 71.875px;
  height: 68.75px;
}

/* ································7.底部信息 */
.footer-info {
  background: #242424;
  height: 109.375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*媒体查询显示轮播图的大小*/
@media screen and (min-width: 1501px) {
  #banner-swiper {
    height: 992px;
  }
  #banner-swiper img {
    height: 992px;
  }
  .pagination-papa {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 100;
    right: 0;
    margin-top: -200px;
    margin-right: 50px;
  }
  .banner-swiper-pagination {
    color: white;
    font-size: 50px;
    font-weight: 200;
    position: absolute;
    z-index: 3;
    width: 124px;
    right: 0;
  }
  .banner-swiper-pagination .swiper-pagination-current {
    font-size: 90px;
    margin-right: -10px;
  }
}
